ApiManagementSchemaImport/TestConsole/DepotRegnskab-14.0-MODIFIED-processed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DepotRegnskab-14.0" targetNamespace="http://www.pfa.dk/alsb/depotregnskab/14/0/" xmlns:ns1="schemas/src/system/livnet/x20130901" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns5="schemas/src/system/livnet/x20210201" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fault="http://www.pfa.dk/alsb/soapfault/1/0/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="schemas/src/service/DepotRegnskab/x20171101" xmlns:tns="http://www.pfa.dk/alsb/depotregnskab/14/0/" xmlns:header="http://www.pfa.dk/alsb/soapheader/1/0/" xmlns:ns3="schemas/src/system/livnet/x20171101" xmlns:ns4="schemas/src/system/livnet/x20180301" xmlns:MS1="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:MS2="http://www.pfa.dk/alsb/applicationproperty/1/0/" xmlns:MS3="http://www.pfa.dk/alsb/filetransferinfo/1/0/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.pfa.dk/alsb/soapheader/1/0/">
      <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="Addressing.xsd" />
      <xsd:import namespace="http://www.pfa.dk/alsb/applicationproperty/1/0/" schemaLocation="ApplicationPropertyHeader.xsd" />
      <xsd:import namespace="http://www.pfa.dk/alsb/filetransferinfo/1/0/" schemaLocation="FileTransferInfo.xsd" />
      <xsd:element name="TrackingToken" type="xsd:string" />
    </xsd:schema>
    <xs:schema xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <!--FROM: 'Addressing.xsd' BEGIN-->
      <xs:element name="EndpointReference" type="wsa:EndpointReferenceType" />
      <xs:complexType name="EndpointReferenceType">
        <xs:sequence>
          <xs:element name="Address" type="wsa:AttributedURI" />
          <xs:element minOccurs="0" name="ReferenceProperties" type="wsa:ReferencePropertiesType" />
          <xs:element minOccurs="0" name="ReferenceParameters" type="wsa:ReferenceParametersType" />
          <xs:element minOccurs="0" name="PortType" type="wsa:AttributedQName" />
          <xs:element minOccurs="0" name="ServiceName" type="wsa:ServiceNameType" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax">
            <xs:annotation>
              <xs:documentation>
						If "Policy" elements from namespace
						"http://schemas.xmlsoap.org/ws/2002/12/policy#policy"
						are used, they must appear first (before any
						extensibility elements).
					</xs:documentation>
            </xs:annotation>
          </xs:any>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:complexType>
      <xs:complexType name="ReferencePropertiesType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReferenceParametersType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceNameType">
        <xs:simpleContent>
          <xs:extension base="xs:QName">
            <xs:attribute name="PortName" type="xs:NCName" />
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:element name="MessageID" type="wsa:AttributedURI" />
      <xs:element name="RelatesTo" type="wsa:Relationship" />
      <xs:element name="To" type="wsa:AttributedURI" />
      <xs:element name="Action" type="wsa:AttributedURI" />
      <xs:element name="From" type="wsa:EndpointReferenceType" />
      <xs:element name="ReplyTo" type="wsa:EndpointReferenceType" />
      <xs:element name="FaultTo" type="wsa:EndpointReferenceType" />
      <xs:complexType name="Relationship">
        <xs:simpleContent>
          <xs:extension base="xs:anyURI">
            <xs:attribute name="RelationshipType" type="xs:QName" use="optional" />
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:simpleType name="RelationshipTypeValues">
        <xs:restriction base="xs:QName">
          <xs:enumeration value="wsa:Reply" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="ReplyAfter" type="wsa:ReplyAfterType" />
      <xs:complexType name="ReplyAfterType">
        <xs:simpleContent>
          <xs:extension base="xs:nonNegativeInteger">
            <xs:anyAttribute namespace="##other" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:element name="RetryAfter" type="wsa:RetryAfterType" />
      <xs:complexType name="RetryAfterType">
        <xs:simpleContent>
          <xs:extension base="xs:nonNegativeInteger">
            <xs:anyAttribute namespace="##other" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:simpleType name="FaultSubcodeValues">
        <xs:restriction base="xs:QName">
          <xs:enumeration value="wsa:InvalidMessageInformationHeader" />
          <xs:enumeration value="wsa:MessageInformationHeaderRequired" />
          <xs:enumeration value="wsa:DestinationUnreachable" />
          <xs:enumeration value="wsa:ActionNotSupported" />
          <xs:enumeration value="wsa:EndpointUnavailable" />
        </xs:restriction>
      </xs:simpleType>
      <xs:attribute name="Action" type="xs:anyURI" />
      <xs:complexType name="AttributedQName">
        <xs:simpleContent>
          <xs:extension base="xs:QName">
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="AttributedURI">
        <xs:simpleContent>
          <xs:extension base="xs:anyURI">
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <!--FROM: 'Addressing.xsd' END-->
    </xs:schema>
    <schema xmlns:properties="http://www.pfa.dk/alsb/applicationproperty/1/0/" elementFormDefault="qualified" targetNamespace="http://www.pfa.dk/alsb/applicationproperty/1/0/" xmlns="http://www.w3.org/2001/XMLSchema">
      <!--FROM: 'ApplicationPropertyHeader.xsd' BEGIN-->
      <element name="ApplicationProperties" type="properties:ApplicationProperties" />
      <complexType name="ApplicationProperties">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ApplicationProperty" type="properties:ApplicationProperty" />
        </sequence>
      </complexType>
      <complexType name="ApplicationProperty">
        <attribute name="key" type="string" use="required" />
        <attribute name="value" type="string" use="required" />
      </complexType>
      <!--FROM: 'ApplicationPropertyHeader.xsd' END-->
    </schema>
    <xs:schema xmlns="http://www.pfa.dk/alsb/filetransferinfo/1/0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.pfa.dk/alsb/filetransferinfo/1/0/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <!--FROM: 'FileTransferInfo.xsd' BEGIN-->
      <xs:element name="FileTransferInfo" type="FileTransferInfoType" />
      <xs:complexType name="FileTransferInfoType">
        <xs:sequence>
          <xs:element name="URI" type="xs:anyURI">
            <xs:annotation>
              <xs:documentation>//hostname[: port][ absolute-path] absolute-path: /shareName/folder/fileName.example example uri: smb://pfadsb02/FileInterface/IS/testFile.txt</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BinaryFormat" type="xs:boolean" />
          <xs:element minOccurs="0" name="Encoding" type="EncodingType" />
          <xs:element minOccurs="0" name="SHA256Checksum" type="SHA256ChecksumType" />
          <xs:element minOccurs="0" name="MimeType" type="MimeTypeType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="EncodingType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="30" />
          <xs:pattern value="[A-Z]{3}-?[0-9]+(-[0-9])?" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SHA256ChecksumType">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9a-f]{64}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MimeTypeType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
          <xs:pattern value="\w+/\w+" />
        </xs:restriction>
      </xs:simpleType>
      <!--FROM: 'FileTransferInfo.xsd' END-->
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ActionHeader">
    <wsdl:part element="MS1:Action" name="action" />
  </wsdl:message>
  <wsdl:message name="FromHeader">
    <wsdl:part element="MS1:From" name="from" />
  </wsdl:message>
  <wsdl:message name="MessageIdHeader">
    <wsdl:part element="MS1:MessageID" name="messageId" />
  </wsdl:message>
  <wsdl:message name="ReplyToHeader">
    <wsdl:part element="MS1:ReplyTo" name="replyTo" />
  </wsdl:message>
  <wsdl:message name="RelatesToHeader">
    <wsdl:part element="MS1:RelatesTo" name="relatesTo" />
  </wsdl:message>
  <wsdl:message name="ApplicationPropertyHeader">
    <wsdl:part element="MS2:ApplicationProperties" name="applicationProperties" />
  </wsdl:message>
  <wsdl:message name="TrackingTokenHeader">
    <wsdl:part element="header:TrackingToken" name="trackingToken" />
  </wsdl:message>
  <wsdl:message name="FileTransferInfoHeader">
    <wsdl:part element="MS3:FileTransferInfo" name="fileTransferInfo" />
  </wsdl:message>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.pfa.dk/alsb/soapfault/1/0/">
      <xsd:include schemaLocation="SoapFault.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BusinessFault">
    <wsdl:part element="fault:businessFault" name="businessFault" />
  </wsdl:message>
  <wsdl:message name="SevereFault">
    <wsdl:part element="fault:severeFault" name="severeFault" />
  </wsdl:message>
  <wsdl:message name="ValidationFault">
    <wsdl:part element="fault:validationFault" name="validationFault" />
  </wsdl:message>
  <wsdl:message name="TemporaryFault">
    <wsdl:part element="fault:temporaryFault" name="temporaryFault" />
  </wsdl:message>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.pfa.dk/alsb/depotregnskab/14/0/">
      <xsd:import namespace="schemas/src/system/livnet/x20171101" schemaLocation="system/livnet/x20171101/LIVNET_HentBetalingHistorikRequest.xsd" />
      <xsd:import namespace="schemas/src/system/livnet/x20130901" schemaLocation="system/livnet/x20130901/LIVNET_HentKontoRegnskabRequest.xsd" />
      <xsd:import namespace="schemas/src/service/DepotRegnskab/x20171101" schemaLocation="service/DepotRegnskab/x20171101/HentBetalingHistorikResponse.xsd" />
      <xsd:import namespace="schemas/src/system/livnet/x20210201" schemaLocation="system/livnet/x20210201/LIVNET_HentKontoRegnskabResponse.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HentKontoRegnskabResponse">
    <wsdl:part name="parameters" element="ns5:HentKontoRegnskabResponse" />
  </wsdl:message>
  <wsdl:message name="HentBetalingHistorikRequest">
    <wsdl:part name="parameters" element="ns3:HentBetalingHistorikRequest" />
  </wsdl:message>
  <wsdl:message name="HentBetalingHistorikResponse">
    <wsdl:part name="parameters" element="ns2:HentBetalingHistorikResponse" />
  </wsdl:message>
  <wsdl:message name="HentKontoRegnskabRequest">
    <wsdl:part name="parameters" element="ns1:HentKontoRegnskabRequest" />
  </wsdl:message>
  <wsdl:portType name="DepotRegnskab-14.0">
    <wsdl:operation name="HentBetalingHistorik">
      <wsdl:input message="tns:HentBetalingHistorikRequest" wsaw:Action="http://www.pfa.dk/alsb/depotregnskab/14/0/HentBetalingHistorik" />
      <wsdl:output message="tns:HentBetalingHistorikResponse" />
      <wsdl:fault name="SevereFault" message="tns:SevereFault" />
      <wsdl:fault name="ValidationFault" message="tns:ValidationFault" />
      <wsdl:fault name="TemporaryFault" message="tns:TemporaryFault" />
    </wsdl:operation>
    <wsdl:operation name="HentKontoRegnskab">
      <wsdl:input message="tns:HentKontoRegnskabRequest" wsaw:Action="http://www.pfa.dk/alsb/depotregnskab/14/0/HentKontoRegnskab" />
      <wsdl:output message="tns:HentKontoRegnskabResponse" />
      <wsdl:fault name="SevereFault" message="tns:SevereFault" />
      <wsdl:fault name="ValidationFault" message="tns:ValidationFault" />
      <wsdl:fault name="TemporaryFault" message="tns:TemporaryFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DepotRegnskab-14.0SOAP" type="tns:DepotRegnskab-14.0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HentBetalingHistorik">
      <wsdl:documentation />
      <soap:operation soapActionRequired="false" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="header:ActionHeader" part="action" use="literal" />
        <soap:header message="header:FromHeader" part="from" use="literal" />
        <soap:header message="header:MessageIdHeader" part="messageId" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SevereFault">
        <soap:fault name="SevereFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFault">
        <soap:fault name="ValidationFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="TemporaryFault">
        <soap:fault name="TemporaryFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HentKontoRegnskab">
      <wsdl:documentation />
      <soap:operation soapActionRequired="false" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="header:ActionHeader" part="action" use="literal" />
        <soap:header message="header:FromHeader" part="from" use="literal" />
        <soap:header message="header:MessageIdHeader" part="messageId" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SevereFault">
        <soap:fault name="SevereFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFault">
        <soap:fault name="ValidationFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="TemporaryFault">
        <soap:fault name="TemporaryFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepotRegnskab-14.0">
    <wsdl:port name="DepotRegnskab-14.0SOAP" binding="tns:DepotRegnskab-14.0SOAP">
      <soap:address location="http://localhost:6500/Service/DepotRegnskab-14.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>