ApiManagementSchemaImport/TestConsole/DepotRegnskab-14.0-MODIFIED.wsdl

<wsdl:definitions name="DepotRegnskab-14.0" targetNamespace="http://www.pfa.dk/alsb/depotregnskab/14/0/" xmlns:ns1="schemas/src/system/livnet/x20130901" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns5="schemas/src/system/livnet/x20210201" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fault="http://www.pfa.dk/alsb/soapfault/1/0/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="schemas/src/service/DepotRegnskab/x20171101" xmlns:tns="http://www.pfa.dk/alsb/depotregnskab/14/0/" xmlns:header="http://www.pfa.dk/alsb/soapheader/1/0/" xmlns:ns3="schemas/src/system/livnet/x20171101" xmlns:ns4="schemas/src/system/livnet/x20180301">

	  <wsdl:import namespace="http://www.pfa.dk/alsb/soapfault/1/0/" location="SoapFault.wsdl"/>
	  <wsdl:import namespace="http://www.pfa.dk/alsb/soapheader/1/0/" location="SoapHeader.wsdl"/>
	  <wsdl:types>
		    <xsd:schema targetNamespace="http://www.pfa.dk/alsb/depotregnskab/14/0/"> 
			      <xsd:import namespace="schemas/src/system/livnet/x20171101" schemaLocation="system/livnet/x20171101/LIVNET_HentBetalingHistorikRequest.xsd"/>
			      <xsd:import namespace="schemas/src/system/livnet/x20130901" schemaLocation="system/livnet/x20130901/LIVNET_HentKontoRegnskabRequest.xsd"/>
			      <xsd:import namespace="schemas/src/service/DepotRegnskab/x20171101" schemaLocation="service/DepotRegnskab/x20171101/HentBetalingHistorikResponse.xsd"/>
			      <xsd:import namespace="schemas/src/system/livnet/x20210201" schemaLocation="system/livnet/x20210201/LIVNET_HentKontoRegnskabResponse.xsd"/>
		    </xsd:schema>
	  </wsdl:types>
	  <wsdl:message name="HentKontoRegnskabResponse">
		    <wsdl:part name="parameters" element="ns5:HentKontoRegnskabResponse"/>
	  </wsdl:message>
	  <wsdl:message name="HentBetalingHistorikRequest">
		    <wsdl:part name="parameters" element="ns3:HentBetalingHistorikRequest"/>
	  </wsdl:message>
	  <wsdl:message name="HentBetalingHistorikResponse">
		    <wsdl:part name="parameters" element="ns2:HentBetalingHistorikResponse"/>
	  </wsdl:message>
	  <wsdl:message name="HentKontoRegnskabRequest">
		    <wsdl:part name="parameters" element="ns1:HentKontoRegnskabRequest"/>
	  </wsdl:message>
	  <wsdl:portType name="DepotRegnskab-14.0">
		    <wsdl:operation name="HentBetalingHistorik">
			      <wsdl:input message="tns:HentBetalingHistorikRequest" wsaw:Action="http://www.pfa.dk/alsb/depotregnskab/14/0/HentBetalingHistorik"/>
			      <wsdl:output message="tns:HentBetalingHistorikResponse"/>
			      <wsdl:fault name="SevereFault" message="fault:SevereFault"/>
			      <wsdl:fault name="ValidationFault" message="fault:ValidationFault"/>
			      <wsdl:fault name="TemporaryFault" message="fault:TemporaryFault"/>
		    </wsdl:operation>
		    <wsdl:operation name="HentKontoRegnskab">
			      <wsdl:input message="tns:HentKontoRegnskabRequest" wsaw:Action="http://www.pfa.dk/alsb/depotregnskab/14/0/HentKontoRegnskab"/>
			      <wsdl:output message="tns:HentKontoRegnskabResponse"/>
			      <wsdl:fault name="SevereFault" message="fault:SevereFault"/>
			      <wsdl:fault name="ValidationFault" message="fault:ValidationFault"/>
			      <wsdl:fault name="TemporaryFault" message="fault:TemporaryFault"/>
		    </wsdl:operation>
	  </wsdl:portType>
	  <wsdl:binding name="DepotRegnskab-14.0SOAP" type="tns:DepotRegnskab-14.0">
		    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		    <wsdl:operation name="HentBetalingHistorik">
			      <wsdl:documentation/>
			      <soap:operation soapActionRequired="false"/>
			      <wsdl:input>
				        <soap:body use="literal"/>
				        <soap:header message="header:ActionHeader" part="action" use="literal"/>
				        <soap:header message="header:FromHeader" part="from" use="literal"/>
				        <soap:header message="header:MessageIdHeader" part="messageId" use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="SevereFault">
				        <soap:fault name="SevereFault" use="literal"/>
			      </wsdl:fault>
			      <wsdl:fault name="ValidationFault">
				        <soap:fault name="ValidationFault" use="literal"/>
			      </wsdl:fault>
			      <wsdl:fault name="TemporaryFault">
				        <soap:fault name="TemporaryFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
		    <wsdl:operation name="HentKontoRegnskab">
			      <wsdl:documentation/>
			      <soap:operation soapActionRequired="false"/>
			      <wsdl:input>
				        <soap:body use="literal"/>
				        <soap:header message="header:ActionHeader" part="action" use="literal"/>
				        <soap:header message="header:FromHeader" part="from" use="literal"/>
				        <soap:header message="header:MessageIdHeader" part="messageId" use="literal"/>
			      </wsdl:input>
			      <wsdl:output>
				        <soap:body use="literal"/>
			      </wsdl:output>
			      <wsdl:fault name="SevereFault">
				        <soap:fault name="SevereFault" use="literal"/>
			      </wsdl:fault>
			      <wsdl:fault name="ValidationFault">
				        <soap:fault name="ValidationFault" use="literal"/>
			      </wsdl:fault>
			      <wsdl:fault name="TemporaryFault">
				        <soap:fault name="TemporaryFault" use="literal"/>
			      </wsdl:fault>
		    </wsdl:operation>
	  </wsdl:binding>
	  <wsdl:service name="DepotRegnskab-14.0">
		    <wsdl:port name="DepotRegnskab-14.0SOAP" binding="tns:DepotRegnskab-14.0SOAP">
			      <soap:address location="http://localhost:6500/Service/DepotRegnskab-14.0"/>
		    </wsdl:port>
	  </wsdl:service>
</wsdl:definitions>