ApiManagementSchemaImport/TestConsole/GetInboundShipment_1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><wsdl:definitions name="GetInboundShipment" targetNamespace="urn:com:gm:gpsc:service:wsdl:GetInboundShipment:1" xmlns:asn="urn:com:gm:gpsc:service:schema:InboundShipment:1" xmlns:eaflt="urn:com:gm:gpsc:service:schema:GenericFault:1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:com:gm:gpsc:service:wsdl:GetInboundShipment:1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:com:gm:gpsc:service:schema:InboundShipment:1">
      <xsd:include schemaLocation="GetInboundShipment.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:com:gm:gpsc:service:schema:InboundShipment:1">
      <xsd:include schemaLocation="GetInboundShipment_1_2_3_4_5_6_7_8_9_10.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:com:gm:gpsc:service:schema:GenericFault:1">
      <xsd:include schemaLocation="GetInboundShipment_1_2_3_4_5_6_7_8_9_10_11.xsd"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
      <xsd:include schemaLocation="GetInboundShipment_1_2_3_4_5_6_7_8_9_10_11_12.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetInboundShipmentFault">
    <wsdl:part element="eaflt:GenericFault" name="GenericFault"/>
  </wsdl:message>
  <wsdl:message name="GetInboundShipmentRequest">
    <wsdl:part element="asn:GetInboundShipment" name="GetInboundShipment"/>
  </wsdl:message>
  <wsdl:message name="GetInboundShipmentResponse">
    <wsdl:part element="asn:ShowInboundShipment" name="ShowInboundShipment"/>
  </wsdl:message>
  <wsdl:message name="SecurityHeader">
    <wsdl:part element="wsse:Security" name="Security"/>
  </wsdl:message>
  <wsdl:portType name="InboundShipmentServicePortType">
    <wsdl:operation name="GetInboundShipment">
      <wsdl:input message="tns:GetInboundShipmentRequest"/>
      <wsdl:output message="tns:GetInboundShipmentResponse"/>
      <wsdl:fault message="tns:GetInboundShipmentFault" name="GetInboundShipmentFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboundShipmentServiceBinding" type="tns:InboundShipmentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetInboundShipment">
      <soap:operation soapAction="https://mgolean.gm.com/InboundShipment/GetInboundShipment"/>
      <wsdl:input>
        <soap:header message="tns:SecurityHeader" part="Security" use="literal"/>
        <soap:body parts="GetInboundShipment" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="ShowInboundShipment" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetInboundShipmentFault">
        <soap:fault name="GetInboundShipmentFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetInboundShipment">
    <wsdl:port binding="tns:InboundShipmentServiceBinding" name="InboundShipmentServicePort">
      <soap:address location="http://mgoweb-gmna.pp.gm.com:8087/ServiceIntegration5/GetInboundShipment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>