ApiManagementSchemaImport/TestConsole/GetVehicleWearItemDataRS_Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:com:onstar:global:common:schema:VehicleWearItemData:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:com:onstar:global:common:schema:VehicleWearItemData:1" xmlns:eac="urn:com:onstar:global:common:schema:components:4" xmlns:oagis="http://www.openapplications.org/oagis/9">
  <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="GetVehicleWearItemDataRS_Service_1.xsd"/>
  <xsd:import namespace="urn:com:onstar:global:common:schema:components:4" schemaLocation="GetVehicleWearItemDataRS_Service_7.xsd"/>
  <xsd:element name="GetVehicleWearItemData" type="GetVehicleWearItemDataType">
    <xsd:annotation>
      <xsd:documentation>...</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GetVehicleWearItemDataType">
    <xsd:complexContent>
      <xsd:extension base="oagis:BusinessObjectDocumentType">
        <xsd:sequence>
          <xsd:element name="DataArea" type="GetVehicleWearItemDataDataAreaType">
            <xsd:annotation>
              <xsd:documentation>Is where the information that the BOD message carries is provided, in this case GetVehicleWearItemData. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun. (VehicleWearItemData)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetVehicleWearItemDataDataAreaType">
    <xsd:sequence>
      <xsd:element ref="oagis:Get"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" ref="VehicleWearItemData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="VehicleWearItemData" type="eac:VehicleWearItemDataType">
    <xsd:annotation>
      <xsd:documentation>contains the VehicleWearItemData information including VehicleWearItemData type, VehicleWearItemData status,start date, end date.....</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ShowVehicleWearItemData" type="ShowVehicleWearItemDataType">
    <xsd:annotation>
      <xsd:documentation>...</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ShowVehicleWearItemDataType">
    <xsd:complexContent>
      <xsd:extension base="oagis:BusinessObjectDocumentType">
        <xsd:sequence>
          <xsd:element name="DataArea" type="ShowVehicleWearItemDataDataAreaType">
            <xsd:annotation>
              <xsd:documentation>Is where the information that the BOD message carries is provided, in this case ShowVehicleWearItemData. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun. (VehicleWearItemData)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShowVehicleWearItemDataDataAreaType">
    <xsd:sequence>
      <xsd:element ref="oagis:Show"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="VehicleWearItemData"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>