ApiManagementSchemaImport/TestConsole/GetVehicleWearItemDataRS_Service_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9/codelists" xmlns:clm54217="http://www.openapplications.org/oagis/9/currencycode/54217:2001" xmlns:clm66411="http://www.openapplications.org/oagis/9/unitcode/66411:2001">
  <xsd:import namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" schemaLocation="GetVehicleWearItemDataRS_Service_3.xsd"/>
  <xsd:import namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" schemaLocation="GetVehicleWearItemDataRS_Service_4.xsd"/>
  <xsd:simpleType name="AgencyRoleCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation>The roles in which an organization may participate in a transaction..</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Customer"/>
      <xsd:enumeration value="Supplier"/>
      <xsd:enumeration value="Manufacturer"/>
      <xsd:enumeration value="Broker"/>
      <xsd:enumeration value="Carrier"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseCodeContentType">
    <xsd:annotation>
      <xsd:documentation>Allows the user to use any of the codes that OAGi defines or add additional values.</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ResponseCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation>The acknowledge values that OAGi defines for OAGIS.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Always"/>
      <xsd:enumeration value="OnError"/>
      <xsd:enumeration value="Never"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageCodeContentType">
    <!--Removing reference to the Language schema-->
    <!--xsd:union memberTypes="xsd:normalizedString clm5639:LanguageCodeContentType"/-->
    <xsd:union memberTypes="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="SystemEnvironmentCodeContentType">
    <!--The tools seem to have problems with the union when there are multiple things in them-->
    <!--xsd:union memberTypes="SystemEnvironmentCodeEnumerationType"/-->
    <xsd:restriction base="SystemEnvironmentCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="SystemEnvironmentCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Production"/>
      <xsd:enumeration value="Test"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ActionCodeContentType">
    <xsd:annotation>
      <xsd:documentation>Allows the user to use any of the codes that OAGi defines or add additional values.</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ActionCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="ActionCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation>The action values that OAGi defines for OAGIS.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Add"/>
      <xsd:enumeration value="Change"/>
      <xsd:enumeration value="Delete"/>
      <xsd:enumeration value="Replace"/>
      <xsd:enumeration value="Accepted"/>
      <xsd:enumeration value="Modified"/>
      <xsd:enumeration value="Rejected"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateCodeContentType">
    <xsd:union memberTypes="StateCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="StateCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseActionCodeContentType">
    <xsd:annotation>
      <xsd:documentation>Allows the user to use any of the codes that OAGi defines or add additional values.</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ResponseActionCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseActionCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation>The action values that OAGi defines for OAGIS.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Accepted"/>
      <xsd:enumeration value="Modified"/>
      <xsd:enumeration value="Rejected"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CurrencyCodeContentType">
    <xsd:union memberTypes="clm54217:CurrencyCodeContentType"/>
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryPointCodeContentType">
    <xsd:union memberTypes="DeliveryPointCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryPointCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="CountrySubdivisionCodeContentType">
    <xsd:union memberTypes="CountrySubdivisionCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="CountrySubdivisionCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeContentType">
    <xsd:union memberTypes="CountryCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="UnitCodeContentType">
    <xsd:union memberTypes="clm66411:UnitCodeContentType"/>
  </xsd:simpleType>
  <xsd:simpleType name="ChargeCodeContentType">
    <xsd:union memberTypes="ChargeCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="ChargeCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="TaxCodeContentType">
    <xsd:union memberTypes="TaxCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="TaxCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="PartyCategoryCodeContentType">
    <xsd:union memberTypes="PartyCategoryCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="PartyCategoryCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation>This list of Party Categories.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Organization"/>
      <xsd:enumeration value="Individual"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GenderCodeContentType">
    <xsd:union memberTypes="GenderCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="GenderCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Male"/>
      <xsd:enumeration value="Female"/>
      <xsd:enumeration value="Unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaritalStatusCodeContentType">
    <xsd:union memberTypes="MaritalStatusCodeEnumerationType"/>
  </xsd:simpleType>
  <xsd:simpleType name="MaritalStatusCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Divorced"/>
      <xsd:enumeration value="Married"/>
      <xsd:enumeration value="NeverMarried"/>
      <xsd:enumeration value="Separated"/>
      <xsd:enumeration value="SignificantOther"/>
      <xsd:enumeration value="Widowed"/>
      <xsd:enumeration value="Unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>