ApiManagementSchemaImport/TestConsole/NotifyBackend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pfa.dk/soa/filetransfer"
	xmlns:ft="http://pfa.dk/soa/filetransfer" elementFormDefault="qualified">
	<element name="NotifyBackendRequest">
		<complexType>
			<sequence>
				<element name="targetFileDirectory" type="anyURI" />
				<element name="targetFilename" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>