ApiManagementSchemaImport/TestConsole/SoapHeader.wsdl

<wsdl:definitions targetNamespace="http://www.pfa.dk/alsb/soapheader/1/0/" xmlns:tns="http://www.pfa.dk/alsb/soapheader/1/0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:properties="http://www.pfa.dk/alsb/applicationproperty/1/0/" xmlns:fileinfo="http://www.pfa.dk/alsb/filetransferinfo/1/0/">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.pfa.dk/alsb/soapheader/1/0/">
			<xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="Addressing.xsd"/>
			<xsd:import namespace="http://www.pfa.dk/alsb/applicationproperty/1/0/" schemaLocation="ApplicationPropertyHeader.xsd"/>
			<xsd:import namespace="http://www.pfa.dk/alsb/filetransferinfo/1/0/" schemaLocation="FileTransferInfo.xsd"/>
			<xsd:element name="TrackingToken" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ActionHeader">
		<wsdl:part element="wsa:Action" name="action"/>
	</wsdl:message>
	<wsdl:message name="FromHeader">
		<wsdl:part element="wsa:From" name="from"/>
	</wsdl:message>
	<wsdl:message name="MessageIdHeader">
		<wsdl:part element="wsa:MessageID" name="messageId"/>
	</wsdl:message>
	<wsdl:message name="ReplyToHeader">
		<wsdl:part element="wsa:ReplyTo" name="replyTo"/>
	</wsdl:message>
	<wsdl:message name="RelatesToHeader">
		<wsdl:part element="wsa:RelatesTo" name="relatesTo"/>
	</wsdl:message>
	<wsdl:message name="ApplicationPropertyHeader">
		<wsdl:part element="properties:ApplicationProperties" name="applicationProperties"/>
	</wsdl:message>
	<wsdl:message name="TrackingTokenHeader">
		<wsdl:part element="tns:TrackingToken" name="trackingToken"/>
	</wsdl:message>
	<wsdl:message name="FileTransferInfoHeader">
		<wsdl:part element="fileinfo:FileTransferInfo" name="fileTransferInfo"/>
	</wsdl:message>
</wsdl:definitions>