ApiManagementSchemaImport/TestConsole/API-0164 WSDL/GetVehicleWearItemDataRS_Service_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Resource" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tmforum.org/NGOSS/SID/Business/8.0/Resource" xmlns:SIDBusCm="http://www.tmforum.org/NGOSS/SID/Business/8.0/Common" xmlns:SIDBusPr="http://www.tmforum.org/NGOSS/SID/Business/8.0/Product" xmlns:SIDBusRe="http://www.tmforum.org/NGOSS/SID/Business/8.0/Resource" xmlns:SIDBusSe="http://www.tmforum.org/NGOSS/SID/Business/8.0/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Service" schemaLocation="GetVehicleWearItemDataRS_Service_11.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Product" schemaLocation="GetVehicleWearItemDataRS_Service_9.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Common" schemaLocation="GetVehicleWearItemDataRS_Service_12.xsd"/>
  <xs:complexType name="ResourceSpecificationPerfRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleType" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceSpecificationForResourceSpecificationPerfRole" type="SIDBusRe:ResourceSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="PerformanceSpecification" type="SIDBusCm:PerformanceSpecification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecification">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:EntitySpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessInteractionItem" type="SIDBusCm:BusinessInteractionItem"/>
          <xs:element minOccurs="0" name="CompoundResourceSpec" type="SIDBusRe:CompoundResourceSpec"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecificationHas" type="SIDBusRe:ResourceSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecificationFor" type="SIDBusRe:ResourceSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceUsageSpec" type="SIDBusRe:ResourceUsageSpec"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceNetworkAddressSpecification" type="SIDBusCm:PerformanceNetworkAddressSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecVersionDetails" type="SIDBusRe:ResourceSpecVersionDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharUse" type="SIDBusRe:ResourceSpecCharUse"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecificationPerfRole" type="SIDBusRe:ResourceSpecificationPerfRole"/>
          <xs:element minOccurs="0" name="ResourceSpecType" type="SIDBusRe:ResourceSpecType"/>
          <xs:element minOccurs="0" name="ResourceFacingServiceSpec" type="SIDBusSe:ResourceFacingServiceSpec"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:EntityRole">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceInteractionRole" type="SIDBusCm:ResourceInteractionRole"/>
          <xs:element minOccurs="0" name="CompoundResourceRole" type="SIDBusRe:CompoundResourceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRoleProductInvolvement" type="SIDBusPr:ResourceRoleProductInvolvement"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRolePartyRoleDetails" type="SIDBusRe:ResourceRolePartyRoleDetails"/>
          <xs:element minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalDevice">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="configBackupLocation" type="xs:int"/>
          <xs:element minOccurs="0" name="configRunningLocation" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="configurationMethod" type="xs:int"/>
          <xs:element minOccurs="0" name="configurationMode" type="xs:int"/>
          <xs:element minOccurs="0" name="isLoopbackSet" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isNullInterfaceSet" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="monitorMethod" type="xs:int"/>
          <xs:element minOccurs="0" name="numberOfConfigurationsPresent" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="protocolsRunning" type="xs:string"/>
          <xs:element minOccurs="0" name="isMultiBootSystem" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="currentRunningOS" type="xs:string"/>
          <xs:element minOccurs="0" name="hasMultipleInstalledOSs" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceMgmtDetailsForLogicalDevice" type="SIDBusRe:DeviceInterfaceMgmtDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceSwitchingProtocolDetailsForLogicalDevice" type="SIDBusRe:DeviceSwitchingProtocolDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceRoutedProtocolDetailsForLogicalDevice" type="SIDBusRe:DeviceRoutedProtocolDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DevicePVRoutingDetailsForLogicalDevice" type="SIDBusRe:DevicePVRoutingDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceMgmtProtocolDetailsForLogicalDevice" type="SIDBusRe:DeviceMgmtProtocolDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceHybridRoutingDetailsForLogicalDevice" type="SIDBusRe:DeviceHybridRoutingDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceLSRoutingDetailsForLogicalDevice" type="SIDBusRe:DeviceLSRoutingDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceDVRoutingDetailsForLogicalDevice" type="SIDBusRe:DeviceDVRoutingDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceBridgingProtocolDetailsForLogicalDevice" type="SIDBusRe:DeviceBridgingProtocolDetails"/>
          <xs:element minOccurs="0" name="PolicyDecisionPoint" type="SIDBusCm:PolicyDecisionPoint"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Software" type="SIDBusRe:Software"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Protocol" type="SIDBusRe:Protocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Pipe" type="SIDBusRe:Pipe"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TerminationPoint" type="SIDBusRe:TerminationPoint"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDeviceOSInteractionDetails" type="SIDBusRe:LogicalDeviceOSInteractionDetails"/>
          <xs:element minOccurs="0" name="LogicalDeviceComposite" type="SIDBusRe:LogicalDeviceComposite"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalResource">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="lrStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="serviceState" type="xs:int"/>
          <xs:element minOccurs="0" name="isOperational" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Network" type="SIDBusRe:Network"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="RolesDescribeLogicalResourceDetails" type="SIDBusRe:RolesDescribeLogicalResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalPhysicalResourceForLogicalResource" type="SIDBusRe:LogicalPhysicalResource"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceLRDependencyForLogicalResource" type="SIDBusSe:ServiceLRDependency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Resource">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:ManagedEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="usageState" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessInteractionItem" type="SIDBusCm:BusinessInteractionItem"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Place" type="SIDBusCm:Place"/>
          <xs:element minOccurs="0" name="PartyRole" type="SIDBusCm:PartyRole"/>
          <xs:element minOccurs="0" name="ResourceSpecification" type="SIDBusRe:ResourceSpecification"/>
          <xs:element minOccurs="0" name="CompoundResourceAspectDetailsForResource" type="SIDBusRe:CompoundResourceAspectDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceCharacteristicValue" type="SIDBusRe:ResourceCharacteristicValue"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceUsage" type="SIDBusRe:ResourceUsage"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Performance" type="SIDBusCm:Performance"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRole" type="SIDBusRe:ResourceRole"/>
          <xs:element minOccurs="0" name="ResourceFacingService" type="SIDBusSe:ResourceFacingService"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AdministerResourceDetails" type="SIDBusRe:AdministerResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="SIDBusPr:Product"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkAddress">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="NetworkAddressHas" type="SIDBusRe:NetworkAddress"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="NetworkAddressFor" type="SIDBusRe:NetworkAddress"/>
          <xs:element minOccurs="0" name="InterfaceNetworkAddressDetailsForNetworkAddress" type="SIDBusRe:InterfaceNetworkAddressDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InterfaceNetworkAddressDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="isAutoCreated" type="xs:boolean"/>
          <xs:element minOccurs="0" name="typeOfNetworkAddress" type="xs:string"/>
          <xs:element minOccurs="0" name="DeviceInterfaceForInterfaceNetworkAddressDetails" type="SIDBusRe:DeviceInterface"/>
          <xs:element minOccurs="0" name="NetworkAddress" type="SIDBusRe:NetworkAddress"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInterface">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="customerInterfaceNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="deviceConfigMethod" type="xs:int"/>
          <xs:element minOccurs="0" name="hasCarrierDetect" type="xs:boolean"/>
          <xs:element minOccurs="0" name="hasDataLink" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isInterfaceEnabled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="vendorInterfaceNumber" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LinkStateRoutingProtocol" type="SIDBusRe:LinkStateRoutingProtocol"/>
          <xs:element minOccurs="0" name="ProtocolDeviceInterfaceDetailsForDeviceInterface" type="SIDBusRe:ProtocolDeviceInterfaceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BridgingProtocol" type="SIDBusRe:BridgingProtocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="HybridRoutingProtocol" type="SIDBusRe:HybridRoutingProtocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="RoutedProtocol" type="SIDBusRe:RoutedProtocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SwitchingProtocol" type="SIDBusRe:SwitchingProtocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="WANProtocol" type="SIDBusRe:WANProtocol"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceRole" type="SIDBusRe:DeviceInterfaceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LANProtocol" type="SIDBusRe:LANProtocol"/>
          <xs:element minOccurs="0" name="DeviceInterfaceHas" type="SIDBusRe:DeviceInterface"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceFor" type="SIDBusRe:DeviceInterface"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceDeviceInterfaceDetails" type="SIDBusRe:ServiceDeviceInterfaceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceTPDetails" type="SIDBusRe:DeviceInterfaceTPDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfacePPortDetails" type="SIDBusRe:DeviceInterfacePPortDetails"/>
          <xs:element minOccurs="0" name="DeviceInterfaceMgmtDetails" type="SIDBusRe:DeviceInterfaceMgmtDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="InterfaceNetworkAddressDetails" type="SIDBusRe:InterfaceNetworkAddressDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LinkStateRoutingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:RoutingProtocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
          <xs:element minOccurs="0" name="DeviceLSRoutingDetails" type="SIDBusRe:DeviceLSRoutingDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RoutingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="currentPortNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="isEphemeral" type="xs:boolean"/>
          <xs:element minOccurs="0" name="protocolDirection" type="xs:int"/>
          <xs:element minOccurs="0" name="portRangeStart" type="xs:int"/>
          <xs:element minOccurs="0" name="portRangeEnd" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProtocolDeviceInterfaceDetails" type="SIDBusRe:ProtocolDeviceInterfaceDetails"/>
          <xs:element minOccurs="0" name="Device" type="SIDBusRe:Device"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
          <xs:element minOccurs="0" name="ProtocolServiceDetailsForProtocol" type="SIDBusSe:ProtocolServiceDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProtocolDeviceInterfaceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProtocolForProtocolDeviceInterfaceDetails" type="SIDBusRe:Protocol"/>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Device">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:ManagedEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceRole" type="SIDBusRe:DeviceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Software" type="SIDBusRe:Software"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="SIDBusSe:Service"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ManagementInfo" type="SIDBusCm:ManagementInfo"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Hardware" type="SIDBusRe:Hardware"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Protocol" type="SIDBusRe:Protocol"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="Device" type="SIDBusRe:Device"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Software">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="buildNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="category" type="xs:int"/>
          <xs:element minOccurs="0" name="isExperimental" type="xs:boolean"/>
          <xs:element minOccurs="0" name="maintenanceVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="majorVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="minorVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="otherDesignator" type="xs:string"/>
          <xs:element minOccurs="0" name="targetPlatform" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Language" type="SIDBusCm:Language"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SoftwareOSInteractionDetails" type="SIDBusRe:SoftwareOSInteractionDetails"/>
          <xs:element minOccurs="0" name="SoftwareComposite" type="SIDBusRe:SoftwareComposite"/>
          <xs:element minOccurs="0" name="Device" type="SIDBusRe:Device"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
          <xs:element minOccurs="0" name="PhysicalContainer" type="SIDBusRe:PhysicalContainer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingSystem">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryOfOS" type="xs:int"/>
          <xs:element minOccurs="0" name="lastBootTime" type="xs:date"/>
          <xs:element minOccurs="0" name="dateValue" type="xs:date"/>
          <xs:element minOccurs="0" name="timeValue" type="xs:date"/>
          <xs:element minOccurs="0" name="isUTCTime" type="xs:boolean"/>
          <xs:element minOccurs="0" name="numberProcessActiveTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="numberProcessesActiveCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="swapSpaceAvailableTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="swapSpaceUsedCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="virtualMemorySpaceTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="virtualMemorySpaceUsedCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="physicalMemoryTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="physicalMemoryAvailableCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="pagingFileSizeTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="pagingFileSizeCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="processMemorySizeMax" type="xs:int"/>
          <xs:element minOccurs="0" name="processMemorySizeCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="isDistributable" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isDistributedCurrent" type="xs:boolean"/>
          <xs:element minOccurs="0" name="numUsersCurrent" type="xs:int"/>
          <xs:element minOccurs="0" name="numUsersMax" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SoftwareOSInteractionDetailsForOperatingSystem" type="SIDBusRe:SoftwareOSInteractionDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDeviceOSInteractionDetailsForOperatingSystem" type="SIDBusRe:LogicalDeviceOSInteractionDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Language" type="SIDBusCm:Language"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyRoleLicenseOSDetailsForOperatingSystem" type="SIDBusRe:PartyRoleLicenseOSDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyRoleUsesProcessesDetailsForOperatingSystem" type="SIDBusRe:PartyRoleUsesProcessesDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SoftwareOSInteractionDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="osVersionMinReq" type="xs:string"/>
          <xs:element minOccurs="0" name="SoftwareForSoftwareOSInteractionDetails" type="SIDBusRe:Software"/>
          <xs:element minOccurs="0" name="OperatingSystem" type="SIDBusRe:OperatingSystem"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalDeviceOSInteractionDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="logDeviceOSVersionMinReq" type="xs:string"/>
          <xs:element minOccurs="0" name="numberInstalledOSs" type="xs:int"/>
          <xs:element minOccurs="0" name="currentlyUsedOS" type="xs:string"/>
          <xs:element minOccurs="0" name="OperatingSystem" type="SIDBusRe:OperatingSystem"/>
          <xs:element minOccurs="0" name="LogicalDeviceForLogicalDeviceOSInteractionDetails" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyRoleLicenseOSDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="maxNumberOSLicenses" type="xs:int"/>
          <xs:element minOccurs="0" name="currentNumberOSLicenses" type="xs:int"/>
          <xs:element minOccurs="0" name="PartyRoleForPartyRoleLicenseOSDetails" type="SIDBusCm:PartyRole"/>
          <xs:element minOccurs="0" name="licenseValidityTimePeriod" type="SIDBusCm:TimePeriod"/>
          <xs:element minOccurs="0" name="OperatingSystem" type="SIDBusRe:OperatingSystem"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyRoleUsesProcessesDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="maxNumberProcesses" type="xs:int"/>
          <xs:element minOccurs="0" name="currentNumberProcesses" type="xs:int"/>
          <xs:element minOccurs="0" name="processesPerUserMax" type="xs:int"/>
          <xs:element minOccurs="0" name="PartyRoleForPartyRoleUsesProcessesDetails" type="SIDBusCm:PartyRole"/>
          <xs:element minOccurs="0" name="OperatingSystem" type="SIDBusRe:OperatingSystem"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SoftwareComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Software">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Software" type="SIDBusRe:Software"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalContainer">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ManagedHardware">
        <xs:sequence>
          <xs:element minOccurs="0" name="hotSwappable" type="xs:boolean"/>
          <xs:element minOccurs="0" name="removable" type="xs:boolean"/>
          <xs:element minOccurs="0" name="replaceable" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Software" type="SIDBusRe:Software"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalCapacityDetailsForPhysicalContainer" type="SIDBusRe:PhysicalCapacityDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManagedHardware">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Hardware">
        <xs:sequence>
          <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
          <xs:element minOccurs="0" name="administrativeState" type="xs:int"/>
          <xs:element minOccurs="0" name="physicalAlarmReportingEnabled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="physicalAlarmStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="coolingRequirements" type="xs:string"/>
          <xs:element minOccurs="0" name="hardwarePurpose" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="HardwareRole" type="SIDBusRe:HardwareRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Hardware">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="depth" type="xs:string"/>
          <xs:element minOccurs="0" name="height" type="xs:string"/>
          <xs:element minOccurs="0" name="measurementUnits" type="xs:int"/>
          <xs:element minOccurs="0" name="weight" type="xs:string"/>
          <xs:element minOccurs="0" name="weightUnits" type="xs:int"/>
          <xs:element minOccurs="0" name="width" type="xs:string"/>
          <xs:element minOccurs="0" name="Device" type="SIDBusRe:Device"/>
          <xs:element minOccurs="0" name="EquipmentHolder" type="SIDBusRe:EquipmentHolder"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalConnector" type="SIDBusRe:PhysicalConnector"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="HardwareHas" type="SIDBusRe:Hardware"/>
          <xs:element minOccurs="0" name="HardwareFor" type="SIDBusRe:Hardware"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalLink" type="SIDBusRe:PhysicalLink"/>
          <xs:element minOccurs="0" name="PhysicalDevice" type="SIDBusRe:PhysicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalResource">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="manufactureDate" type="xs:string"/>
          <xs:element minOccurs="0" name="otherIdentifier" type="xs:string"/>
          <xs:element minOccurs="0" name="powerState" type="xs:int"/>
          <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="versionNumber" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PlacePhysicalResourceAssocForPhysicalResource" type="SIDBusCm:PlacePhysicalResourceAssoc"/>
          <xs:element minOccurs="0" name="Network" type="SIDBusRe:Network"/>
          <xs:element minOccurs="0" name="ReplacementSet" type="SIDBusRe:ReplacementSet"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LocalPlace" type="SIDBusCm:LocalPlace"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Representation" type="SIDBusCm:Representation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalPhysicalResource" type="SIDBusRe:LogicalPhysicalResource"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="RolesDescribePhysicalResourceDetails" type="SIDBusRe:RolesDescribePhysicalResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ServicePRDependencyForPhysicalResource" type="SIDBusSe:ServicePRDependency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Network">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceCollection">
        <xs:sequence>
          <xs:element minOccurs="0" name="networkAdministrativeState" type="xs:int"/>
          <xs:element minOccurs="0" name="networkAlarmStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="isNetworkOperational" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="layerRates" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalResource" type="SIDBusRe:LogicalResource"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResource" type="SIDBusRe:PhysicalResource"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
          <xs:element minOccurs="0" name="NetworkComposite" type="SIDBusRe:NetworkComposite"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceCollection">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:CompoundResource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompoundResource" type="SIDBusRe:CompoundResource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompoundResource">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Resource">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="NetworkDomain" type="SIDBusRe:NetworkDomain"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="RolesDescribeCompoundResourceDetails" type="SIDBusRe:RolesDescribeCompoundResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompoundResourceAspectDetails" type="SIDBusRe:CompoundResourceAspectDetails"/>
          <xs:element minOccurs="0" name="ResourceCollection" type="SIDBusRe:ResourceCollection"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkDomain">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:ManagementDomain">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompoundResource" type="SIDBusRe:CompoundResource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RolesDescribeCompoundResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRoleDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompoundResourceRole" type="SIDBusRe:CompoundResourceRole"/>
          <xs:element minOccurs="0" name="CompoundResourceForRolesDescribeCompoundResourceDetails" type="SIDBusRe:CompoundResource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceRoleDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompoundResourceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompoundResourceSpec" type="SIDBusRe:CompoundResourceSpec"/>
          <xs:element minOccurs="0" name="RolesDescribeCompoundResourceDetailsForCompoundResourceRole" type="SIDBusRe:RolesDescribeCompoundResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRole" type="SIDBusRe:ResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompoundResourceSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceSpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecification" type="SIDBusRe:ResourceSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompoundResourceRole" type="SIDBusRe:CompoundResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompoundResourceAspectDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompoundResourceForCompoundResourceAspectDetails" type="SIDBusRe:CompoundResource"/>
          <xs:element minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalPort">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ManagedHardware">
        <xs:sequence>
          <xs:element minOccurs="0" name="duplexMode" type="xs:int"/>
          <xs:element minOccurs="0" name="ifType" type="xs:int"/>
          <xs:element minOccurs="0" name="portNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="typeOfPPort" type="xs:int"/>
          <xs:element minOccurs="0" name="vendorPortName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfacePPortDetailsForPhysicalPort" type="SIDBusRe:DeviceInterfacePPortDetails"/>
          <xs:element minOccurs="0" name="Chassis" type="SIDBusRe:Chassis"/>
          <xs:element minOccurs="0" name="Card" type="SIDBusRe:Card"/>
          <xs:element minOccurs="0" name="PPortAspectCompoundResourceDetailsForPhysicalPort" type="SIDBusRe:PPortAspectCompoundResourceDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInterfacePPortDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
      <xs:element minOccurs="0" name="DeviceInterfaceForDeviceInterfacePPortDetails" type="SIDBusRe:DeviceInterface"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chassis">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:SecureHolder">
        <xs:sequence>
          <xs:element minOccurs="0" name="heatGeneration" type="xs:int"/>
          <xs:element minOccurs="0" name="installationOrder" type="xs:string"/>
          <xs:element minOccurs="0" name="powerCordNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="numberOfChassisSlots" type="xs:int"/>
          <xs:element minOccurs="0" name="chassisType" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ChassisHas" type="SIDBusRe:Chassis"/>
          <xs:element minOccurs="0" name="ChassisFor" type="SIDBusRe:Chassis"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
          <xs:element minOccurs="0" name="ChassisPositionForChassis" type="SIDBusRe:ChassisPosition"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecureHolder">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:HolderComposite">
        <xs:sequence>
          <xs:element minOccurs="0" name="audibleAlarm" type="xs:boolean"/>
          <xs:element minOccurs="0" name="audibleAlarmDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="lockPresent" type="xs:boolean"/>
          <xs:element minOccurs="0" name="securityBreach" type="xs:int"/>
          <xs:element minOccurs="0" name="securityBreachDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="visibleAlarm" type="xs:boolean"/>
          <xs:element minOccurs="0" name="visibleAlarmDescription" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HolderComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:EquipmentHolder">
        <xs:sequence>
          <xs:element minOccurs="0" name="cableManagementStrategy" type="xs:string"/>
          <xs:element minOccurs="0" name="mountingOptions" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceApproach" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EquipmentHolder">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalContainer">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="acceptableEquipmentList" type="xs:string"/>
          <xs:element minOccurs="0" name="typeOfHolder" type="xs:int"/>
          <xs:element minOccurs="0" name="isSolitaryHolder" type="xs:boolean"/>
          <xs:element minOccurs="0" name="holderStatus" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Equipment" type="SIDBusRe:Equipment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="EquipmentComponent" type="SIDBusRe:EquipmentComponent"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Hardware" type="SIDBusRe:Hardware"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Equipment">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalContainer">
        <xs:sequence>
          <xs:element minOccurs="0" name="installStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="expectedEquipmentType" type="xs:string"/>
          <xs:element minOccurs="0" name="installedEquipmentType" type="xs:string"/>
          <xs:element minOccurs="0" name="installedVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="redundancy" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CoolingDevice" type="SIDBusRe:CoolingDevice"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="EquipmentHas" type="SIDBusRe:Equipment"/>
          <xs:element minOccurs="0" name="EquipmentFor" type="SIDBusRe:Equipment"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PowerSupply" type="SIDBusRe:PowerSupply"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="EquipmentComponent" type="SIDBusRe:EquipmentComponent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CoolingDevice">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:AuxiliaryComponent">
        <xs:sequence>
          <xs:element minOccurs="0" name="hasActiveCooling" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Equipment" type="SIDBusRe:Equipment"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AuxiliaryComponent">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalContainer">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PowerSupply">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:AuxiliaryComponent">
        <xs:sequence>
          <xs:element minOccurs="0" name="acFrequencyLow" type="xs:string"/>
          <xs:element minOccurs="0" name="acFrequencyHigh" type="xs:string"/>
          <xs:element minOccurs="0" name="isAC" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isSwitching" type="xs:boolean"/>
          <xs:element minOccurs="0" name="inputVoltageLow" type="xs:string"/>
          <xs:element minOccurs="0" name="inputVoltageHigh" type="xs:string"/>
          <xs:element minOccurs="0" name="inputCurrentMax" type="xs:string"/>
          <xs:element minOccurs="0" name="inputCurrentMin" type="xs:string"/>
          <xs:element minOccurs="0" name="dcOutputPower" type="xs:string"/>
          <xs:element minOccurs="0" name="isRedundant" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Equipment" type="SIDBusRe:Equipment"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EquipmentComponent">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalContainer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Equipment" type="SIDBusRe:Equipment"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChassisPosition">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="positionInChassis" type="xs:int"/>
          <xs:element minOccurs="0" name="locationInChassis" type="xs:string"/>
          <xs:element minOccurs="0" name="RackForChassisPosition" type="SIDBusRe:Rack"/>
          <xs:element minOccurs="0" name="Chassis" type="SIDBusRe:Chassis"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Rack">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:SecureHolder">
        <xs:sequence>
          <xs:element minOccurs="0" name="country" type="xs:string"/>
          <xs:element minOccurs="0" name="heightInUs" type="xs:int"/>
          <xs:element minOccurs="0" name="typeOfRack" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ChassisPosition" type="SIDBusRe:ChassisPosition"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Equipment">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardCompatibilityResults" type="xs:string"/>
          <xs:element minOccurs="0" name="daughterCardInstallStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="daughterCardOperatingStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="daughterCardRequirements" type="xs:int"/>
          <xs:element minOccurs="0" name="isConfigurablePhysically" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isMotherBoard" type="xs:boolean"/>
          <xs:element minOccurs="0" name="isUniquePhysical" type="xs:boolean"/>
          <xs:element minOccurs="0" name="maxDataWidth" type="xs:int"/>
          <xs:element minOccurs="0" name="slotLayout" type="xs:string"/>
          <xs:element minOccurs="0" name="slotsRequired" type="xs:int"/>
          <xs:element minOccurs="0" name="uniqueRequirementsPhysical" type="xs:string"/>
          <xs:element minOccurs="0" name="hardwareVersion" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CardOnCardDetailsHas" type="SIDBusRe:CardOnCardDetails"/>
          <xs:element minOccurs="0" name="CardOnCardDetailsFor" type="SIDBusRe:CardOnCardDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CardOnCardDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="connectorName" type="xs:anySimpleType"/>
          <xs:element minOccurs="0" name="isPluggable" type="xs:boolean"/>
          <xs:element minOccurs="0" name="slotNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="CardFor" type="SIDBusRe:Card"/>
          <xs:element minOccurs="0" name="CardHas" type="SIDBusRe:Card"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PPortAspectCompoundResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalAspectCompoundResourceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
          <xs:element minOccurs="0" name="ResourcePortForPPortAspectCompoundResourceDetails" type="SIDBusRe:ResourcePort"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalAspectCompoundResourceDetails">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="ResourcePort">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="isEdgeResourcePort" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TPAspectCompoundResourceDetails" type="SIDBusRe:TPAspectCompoundResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PPortAspectCompoundResourceDetails" type="SIDBusRe:PPortAspectCompoundResourceDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceElement">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:CompoundResource">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPAspectCompoundResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalAspectCompoundResourceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminationPoint" type="SIDBusRe:TerminationPoint"/>
          <xs:element minOccurs="0" name="ResourcePortForTPAspectCompoundResourceDetails" type="SIDBusRe:ResourcePort"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalAspectCompoundResourceDetails">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="TerminationPoint">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ManagedTransmissionEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" type="xs:int"/>
          <xs:element minOccurs="0" name="vendorTPName" type="xs:string"/>
          <xs:element minOccurs="0" name="typeOfTP" type="xs:int"/>
          <xs:element minOccurs="0" name="endPointLabel" type="xs:string"/>
          <xs:element minOccurs="0" name="Pipe" type="SIDBusRe:Pipe"/>
          <xs:element minOccurs="0" name="TPAspectCompoundResourceDetailsForTerminationPoint" type="SIDBusRe:TPAspectCompoundResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceTPDetailsForTerminationPoint" type="SIDBusRe:DeviceInterfaceTPDetails"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManagedTransmissionEntity">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
          <xs:element minOccurs="0" name="mteAdministrativeState" type="xs:int"/>
          <xs:element minOccurs="0" name="logicalAlarmReportingEnabled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="logicalAlarmStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="isMTEOperational" type="xs:boolean"/>
          <xs:element minOccurs="0" name="typeOfMTE" type="xs:int"/>
          <xs:element minOccurs="0" name="operationalState" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Pipe">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ManagedTransmissionEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="isUniDirectional" type="xs:boolean"/>
          <xs:element minOccurs="0" name="operatingLayerRate" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TerminationPoint" type="SIDBusRe:TerminationPoint"/>
          <xs:element minOccurs="0" name="SubNetwork" type="SIDBusRe:SubNetwork"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubNetwork">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:NetworkAtomic">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="connectionRates" type="xs:string"/>
          <xs:element minOccurs="0" name="subNetworkType" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Pipe" type="SIDBusRe:Pipe"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SubNetworkHas" type="SIDBusRe:SubNetwork"/>
          <xs:element minOccurs="0" name="SubNetworkFor" type="SIDBusRe:SubNetwork"/>
          <xs:element minOccurs="0" name="LayerNetwork" type="SIDBusRe:LayerNetwork"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkAtomic">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Network">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LayerNetwork">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:NetworkComposite">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SubNetwork" type="SIDBusRe:SubNetwork"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Network">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Network" type="SIDBusRe:Network"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInterfaceTPDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="TerminationPoint" type="SIDBusRe:TerminationPoint"/>
      <xs:element minOccurs="0" name="DeviceInterfaceForDeviceInterfaceTPDetails" type="SIDBusRe:DeviceInterface"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReplacementSet">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Collection">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResource" type="SIDBusRe:PhysicalResource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceSpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LocalLocation" type="SIDBusCm:LocalLocation"/>
          <xs:element minOccurs="0" name="PhysicalResourceSpecComposite" type="SIDBusRe:PhysicalResourceSpecComposite"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Representation" type="SIDBusCm:Representation"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResourceRole" type="SIDBusRe:PhysicalResourceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalPhysicalResourceSpec" type="SIDBusRe:LogicalPhysicalResourceSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceSpecComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResourceSpec">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResourceSpec" type="SIDBusRe:PhysicalResourceSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhysicalResourceSpec" type="SIDBusRe:PhysicalResourceSpec"/>
          <xs:element minOccurs="0" name="RolesDescribePhysicalResourceDetailsForPhysicalResourceRole" type="SIDBusRe:RolesDescribePhysicalResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="SIDBusSe:Service"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RolesDescribePhysicalResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRoleDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhysicalResourceForRolesDescribePhysicalResourceDetails" type="SIDBusRe:PhysicalResource"/>
          <xs:element minOccurs="0" name="PhysicalResourceRole" type="SIDBusRe:PhysicalResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalPhysicalResourceSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhysicalResourceSpecForLogicalPhysicalResourceSpec" type="SIDBusRe:PhysicalResourceSpec"/>
          <xs:element minOccurs="0" name="lpResSpecBindingValidFor" type="SIDBusCm:TimePeriod"/>
          <xs:element minOccurs="0" name="LogicalResourceSpec" type="SIDBusRe:LogicalResourceSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalResourceSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogicalResourceSpecComposite" type="SIDBusRe:LogicalResourceSpecComposite"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalResourceRole" type="SIDBusRe:LogicalResourceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalPhysicalResourceSpecForLogicalResourceSpec" type="SIDBusRe:LogicalPhysicalResourceSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalResourceSpecComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResourceSpec">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalResourceSpec" type="SIDBusRe:LogicalResourceSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalResourceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogicalResourceRoleSpec" type="SIDBusRe:LogicalResourceRoleSpec"/>
          <xs:element minOccurs="0" name="LogicalResourceSpec" type="SIDBusRe:LogicalResourceSpec"/>
          <xs:element minOccurs="0" name="RolesDescribeLogicalResourceDetailsForLogicalResourceRole" type="SIDBusRe:RolesDescribeLogicalResourceDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="SIDBusSe:Service"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalResourceRoleSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRoleSpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalResourceRole" type="SIDBusRe:LogicalResourceRole"/>
          <xs:element minOccurs="0" name="ResourceFacingServiceSpecRole" type="SIDBusSe:ResourceFacingServiceSpecRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceRoleSpecification">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:SpecificationRole">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDeviceInterfaceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:ManagedEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceFacingService" type="SIDBusSe:ResourceFacingService"/>
          <xs:element minOccurs="0" name="DeviceInterfaceForServiceDeviceInterfaceDetails" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristic" type="SIDBusRe:ResourceSpecCharacteristic"/>
      <xs:element minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristicValue" type="SIDBusRe:ResourceSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="ResourceCharacteristicValueHas" type="SIDBusRe:ResourceCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceCharacteristicValueFor" type="SIDBusRe:ResourceCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceCharacteristicValue" type="SIDBusSe:ServiceCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCharacteristicValue" type="SIDBusPr:ProductCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharacteristic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="derivationFormula" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharacteristicValue" type="SIDBusRe:ResourceSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceCharacteristicValue" type="SIDBusRe:ResourceCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharRelationshipHas" type="SIDBusRe:ResourceSpecCharRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharUseForResourceSpecCharacteristic" type="SIDBusRe:ResourceSpecCharUse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharRelationshipFor" type="SIDBusRe:ResourceSpecCharRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceSpecCharacteristic" type="SIDBusSe:ServiceSpecCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharacteristic" type="SIDBusPr:ProductSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="_default" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="unitOfMeasure" type="xs:string"/>
      <xs:element minOccurs="0" name="valueFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="valueTo" type="xs:string"/>
      <xs:element minOccurs="0" name="rangeInterval" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharValueRelationshipHas" type="SIDBusRe:ResourceSpecCharValueRelationship"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristic" type="SIDBusRe:ResourceSpecCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharValueRelationshipFor" type="SIDBusRe:ResourceSpecCharValueRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceCharacteristicValue" type="SIDBusRe:ResourceCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceSpecCharacteristicValue" type="SIDBusSe:ServiceSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharacteristicValue" type="SIDBusPr:ProductSpecCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharValueRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charValueRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristicValueFor" type="SIDBusRe:ResourceSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristicValueHas" type="SIDBusRe:ResourceSpecCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="charSpecSeq" type="xs:int"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristicFor" type="SIDBusRe:ResourceSpecCharacteristic"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristicHas" type="SIDBusRe:ResourceSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecCharUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="_package" type="xs:boolean"/>
      <xs:element minOccurs="0" name="canBeOveridden" type="xs:boolean"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ResourceSpecificationForResourceSpecCharUse" type="SIDBusRe:ResourceSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ResourceSpecCharacteristic" type="SIDBusRe:ResourceSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceUsage">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Usage">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductComponentUsage" type="SIDBusPr:ProductComponentUsage"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceUsageSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:UsageSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceSpecification" type="SIDBusRe:ResourceSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceUsageSpec" type="SIDBusSe:ServiceUsageSpec"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AtomicProductUsageSpec" type="SIDBusPr:AtomicProductUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalResourceRoleSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRoleSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceFacingServiceSpecRole" type="SIDBusSe:ResourceFacingServiceSpecRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RolesDescribeLogicalResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:ResourceRoleDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogicalResourceForRolesDescribeLogicalResourceDetails" type="SIDBusRe:LogicalResource"/>
          <xs:element minOccurs="0" name="LogicalResourceRole" type="SIDBusRe:LogicalResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalPhysicalResource">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="typeOfLPDependency" type="xs:int"/>
          <xs:element minOccurs="0" name="LogicalResource" type="SIDBusRe:LogicalResource"/>
          <xs:element minOccurs="0" name="PhysicalResourceForLogicalPhysicalResource" type="SIDBusRe:PhysicalResource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalConnector">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Hardware">
        <xs:sequence>
          <xs:element minOccurs="0" name="cableType" type="xs:int"/>
          <xs:element minOccurs="0" name="gender" type="xs:int"/>
          <xs:element minOccurs="0" name="inUse" type="xs:boolean"/>
          <xs:element minOccurs="0" name="pinDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="typeOfConnector" type="xs:int"/>
          <xs:element minOccurs="0" name="Hardware" type="SIDBusRe:Hardware"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalConnectorHas" type="SIDBusRe:PhysicalConnector"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalConnectorFor" type="SIDBusRe:PhysicalConnector"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalPort" type="SIDBusRe:PhysicalPort"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalLink">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="isWireless" type="xs:boolean"/>
          <xs:element minOccurs="0" name="currentLength" type="xs:string"/>
          <xs:element minOccurs="0" name="maximumLength" type="xs:string"/>
          <xs:element minOccurs="0" name="mediaType" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Hardware" type="SIDBusRe:Hardware"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalDevice">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="backplaneIndependent" type="xs:boolean"/>
          <xs:element minOccurs="0" name="backplaneNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="configurationOrder" type="xs:string"/>
          <xs:element minOccurs="0" name="deviceGroupID" type="xs:string"/>
          <xs:element minOccurs="0" name="isComposite" type="xs:boolean"/>
          <xs:element minOccurs="0" name="canMixPower" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Hardware" type="SIDBusRe:Hardware"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalDeviceRole" type="SIDBusRe:PhysicalDeviceRole"/>
          <xs:element minOccurs="0" name="PhysicalDeviceComposite" type="SIDBusRe:PhysicalDeviceComposite"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalDeviceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhysicalDeviceRoleDetailsForPhysicalDeviceRole" type="SIDBusRe:PhysicalDeviceRoleDetails"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDeviceRole" type="SIDBusRe:LogicalDeviceRole"/>
          <xs:element minOccurs="0" name="PhysicalDevice" type="SIDBusRe:PhysicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalDeviceRoleDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="typeOfDevice" type="xs:int"/>
          <xs:element minOccurs="0" name="PhysicalDeviceRoleSpecForPhysicalDeviceRoleDetails" type="SIDBusRe:PhysicalDeviceRoleSpec"/>
          <xs:element minOccurs="0" name="PhysicalDeviceRole" type="SIDBusRe:PhysicalDeviceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalDeviceRoleSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResourceRoleSpec">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalDeviceRoleDetails" type="SIDBusRe:PhysicalDeviceRoleDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalDeviceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResourceRole">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceInterfaceRole" type="SIDBusRe:DeviceInterfaceRole"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalDeviceRole" type="SIDBusRe:PhysicalDeviceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInterfaceRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDeviceRole" type="SIDBusRe:LogicalDeviceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalDeviceComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalDevice">
        <xs:sequence>
          <xs:element minOccurs="0" name="numberOfDevicesTotal" type="xs:int"/>
          <xs:element minOccurs="0" name="numberOfDevicesCurrent" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalDevice" type="SIDBusRe:PhysicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HardwareRole">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:PhysicalResourceRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="ManagedHardware" type="SIDBusRe:ManagedHardware"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalCapacityDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="isSolitary" type="xs:boolean"/>
          <xs:element minOccurs="0" name="parentCapacity" type="xs:string"/>
          <xs:element minOccurs="0" name="PhysicalCapacityForPhysicalCapacityDetails" type="SIDBusRe:PhysicalCapacity"/>
          <xs:element minOccurs="0" name="PhysicalContainer" type="SIDBusRe:PhysicalContainer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalCapacity">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Capacity">
        <xs:sequence>
          <xs:element minOccurs="0" name="physicalCapacityStatus" type="xs:int"/>
          <xs:element minOccurs="0" name="PhysicalCapacityDetails" type="SIDBusRe:PhysicalCapacityDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DescribedMgmtInfoDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ManagedEntityForDescribedMgmtInfoDetails" type="SIDBusCm:ManagedEntity"/>
          <xs:element minOccurs="0" name="ManagementInfo" type="SIDBusCm:ManagementInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceLSRoutingDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="LinkStateRoutingProtocolForDeviceLSRoutingDetails" type="SIDBusRe:LinkStateRoutingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BridgingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceBridgingProtocolDetails" type="SIDBusRe:DeviceBridgingProtocolDetails"/>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceBridgingProtocolDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BridgingProtocolForDeviceBridgingProtocolDetails" type="SIDBusRe:BridgingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HybridRoutingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:RoutingProtocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceHybridRoutingDetails" type="SIDBusRe:DeviceHybridRoutingDetails"/>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceHybridRoutingDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="HybridRoutingProtocolForDeviceHybridRoutingDetails" type="SIDBusRe:HybridRoutingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RoutedProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceRoutedProtocolDetails" type="SIDBusRe:DeviceRoutedProtocolDetails"/>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceRoutedProtocolDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoutedProtocolForDeviceRoutedProtocolDetails" type="SIDBusRe:RoutedProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SwitchingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceSwitchingProtocolDetails" type="SIDBusRe:DeviceSwitchingProtocolDetails"/>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceSwitchingProtocolDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="SwitchingProtocolForDeviceSwitchingProtocolDetails" type="SIDBusRe:SwitchingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WANProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LANProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceInterface" type="SIDBusRe:DeviceInterface"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceInterfaceMgmtDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="configurationMethodsSupported" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="operationalMethodsSupported" type="xs:int"/>
          <xs:element minOccurs="0" name="DeviceInterfaceForDeviceInterfaceMgmtDetails" type="SIDBusRe:DeviceInterface"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceRolePartyRoleDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="requisiteSkillSet" type="xs:string"/>
          <xs:element minOccurs="0" name="validForManagingResourceRols" type="SIDBusCm:TimePeriod"/>
          <xs:element minOccurs="0" name="PartyRole" type="SIDBusCm:PartyRole"/>
          <xs:element minOccurs="0" name="ResourceRoleForResourceRolePartyRoleDetails" type="SIDBusRe:ResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdministerResourceDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ValueNetworkRole" type="SIDBusCm:ValueNetworkRole"/>
          <xs:element minOccurs="0" name="ResourceForAdministerResourceDetails" type="SIDBusRe:Resource"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DevicePVRoutingDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PathVectorRoutingProtocolForDevicePVRoutingDetails" type="SIDBusRe:PathVectorRoutingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathVectorRoutingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:RoutingProtocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DevicePVRoutingDetails" type="SIDBusRe:DevicePVRoutingDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceMgmtProtocolDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ManagementProtocolForDeviceMgmtProtocolDetails" type="SIDBusRe:ManagementProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManagementProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceMgmtProtocolDetails" type="SIDBusRe:DeviceMgmtProtocolDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceDVRoutingDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistanceVectorRoutingProtocolForDeviceDVRoutingDetails" type="SIDBusRe:DistanceVectorRoutingProtocol"/>
          <xs:element minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistanceVectorRoutingProtocol">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:RoutingProtocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeviceDVRoutingDetails" type="SIDBusRe:DeviceDVRoutingDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogicalDeviceComposite">
    <xs:complexContent>
      <xs:extension base="SIDBusRe:LogicalDevice">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogicalDevice" type="SIDBusRe:LogicalDevice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupportedMgmtMethodDetail">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedMgmtMethods" type="xs:string"/>
          <xs:element minOccurs="0" name="preferredConfigMethod" type="xs:int"/>
          <xs:element minOccurs="0" name="preferredMonitorMethod" type="xs:int"/>
          <xs:element minOccurs="0" name="ManagedEntityForSupportedMgmtMethodDetail" type="SIDBusCm:ManagedEntity"/>
          <xs:element minOccurs="0" name="ManagementMethodEntity" type="SIDBusRe:ManagementMethodEntity"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManagementMethodEntity">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="SupportedMgmtMethodDetailForManagementMethodEntity" type="SIDBusRe:SupportedMgmtMethodDetail"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkAddressSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="xs:anySimpleType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PerformanceNetworkAddressSpecificationForNetworkAddressSpecification" type="SIDBusCm:PerformanceNetworkAddressSpecification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceSpecVersionDetails">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="preferredVersionToUse" type="xs:string"/>
          <xs:element minOccurs="0" name="minVersionForUse" type="xs:string"/>
          <xs:element minOccurs="0" name="ResourceSpecificationForResourceSpecVersionDetails" type="SIDBusRe:ResourceSpecification"/>
          <xs:element minOccurs="0" name="resourceSpecVerValidFor" type="SIDBusCm:TimePeriod"/>
          <xs:element minOccurs="0" name="ResourceSpecVersion" type="SIDBusRe:ResourceSpecVersion"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceSpecVersion">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="resSpecRevisionName" type="xs:string"/>
          <xs:element minOccurs="0" name="resSpecRevisionFormat" type="xs:string"/>
          <xs:element minOccurs="0" name="resSpecRevisionNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="resSpecRevisionReason" type="xs:string"/>
          <xs:element minOccurs="0" name="resSpecRevisionSemantics" type="xs:string"/>
          <xs:element minOccurs="0" name="resSpecRevisionTimestamp" type="xs:date"/>
          <xs:element minOccurs="0" name="resSpecRevisionValidityPeriod" type="SIDBusCm:TimePeriod"/>
          <xs:element minOccurs="0" name="ResourceSpecVersionDetailsForResourceSpecVersion" type="SIDBusRe:ResourceSpecVersionDetails"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceSpecType">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Entity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecTypeHas" type="SIDBusRe:ResourceSpecType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecTypeFor" type="SIDBusRe:ResourceSpecType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecification" type="SIDBusRe:ResourceSpecification"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xsd:schema>