ApiManagementSchemaImport/TestConsole/API-0164 WSDL/GetVehicleWearItemDataRS_Service_21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Version Details

Version     Date                Description
_______     _________           ____________________________
1.0           2008                base version
1.2           2009-05-15          updated namespace to global
1.3			2012-11-08 			added CountryID and had LanguageCodeType extend string
1.4			2013-07-17 			Added InteractionID optional element--><xs:schema targetNamespace="urn:com:onstar:global:common:schema:ServiceControl:2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4" xmlns="urn:com:onstar:global:common:schema:ServiceControl:2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceControl" type="ServiceControlType">
    <xs:annotation>
      <xs:documentation>This element block provides the metadata about the message that is used for logging the header and auditing the message.  Some elements are repeated from the message body for performance purposes in logging only the header.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ServiceControlType">
    <xs:annotation>
      <xs:documentation>This element block provides the metadata about the message that is used for auditing the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EmergencyRequestIndicator" type="xs:boolean" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Required: True/False</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VersionID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>VersionID - The version of the BOD message included in the Body.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanguageCode" type="LanguageCodeType" nillable="false" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>LanguageCode - Determines the language of any messages or errors in the current payload. Also used by the service provider to determine the language that will be used for any messages or errors that will be returned in the response message.  This element is the same as the LanguageCode attribute on the BOD and repeated in the message header.  The language code is required in the ISO language code format as language-country.  The type attribute allows you to have multiple languages differentiated by type. Valid Values for type: translationLocale</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>CountryID - ISO CountryID of either the subscriber country, the ship to country or country the business process is being run.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ApplicationID - As defined by OnStar Web Services for uniquely identifying the internal application or system sending the message.  The ApplicationID will also be used as the Username in the wsse:UsernameToken credentials if applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LogicalID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>LogicalID - The host name of the server node sending the BOD.  The server node should be qualified to a specific address associated with the physical node and not a virtual address.  This is the repeated header value as defined in the Sender area of the BOD message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComponentID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ComponentID - The logical name of the application component (client) sending the BOD.  This is the repeated header value as defined in the Sender area of the BOD message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceID" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ReferenceID - An event or request id that is unique in the application sending the BOD.  The id must be unique to support traceback to the application code or configuration.  It is used as an identifier to correlate a series of related messages. The ReferenceID will be the same as the BODID and must be unique within the domain of OnStar Web Services.  The ReferenceID will be assigned by the system that initiates the business process.  A recommended format for implementing the ReferenceID from a Java application is as follows: 

						ApplicationID-LogicalID-JVMProcessID-ThreadID-TimeStamp(YYYY-MM-DDThh:mm:ss:SSSZ) in GMT-0 Timezone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InteractionID" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>InteractionID - An alphanumeric value that is generated by a call to ProcessInteraction service that is unique for a transaction and allows tracing back to the application.  It is also a link for the Carrier ConversationID. The InteractionID will be assigned by the system that initiates the business process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SentTimeStamp" type="xs:dateTime" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>SentTimeStamp - The date and time stamp when this message was sent formatted in GMT-0 Timezone as:

					YYYY-MM-DDThh:mm:ss:SSSZ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageType" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>MessageType - The type of message containing the message name which corresponds to the BOD name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChannelID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ChannelID - The channel that the message was initiated from.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaskID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>TaskID - The task that the message is requested for.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BODID" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>BODID - The BODID of the message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Environment" nillable="false" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates if this request is Legacy (3.0) or Global (4.0)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3.0"/>
            <xs:enumeration value="4.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:sequence>
          <xs:element ref="Asynchronous" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indicates that the message is part of an asynchronous process.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Synchronous" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indicates that the message is part of a synchronous process.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageCodeType">
    <xs:annotation>
      <xs:documentation>Valid Values for type: translationLocale</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:annotation>
      <xs:documentation>Container for the message identifiers. The element name itself will provide the name of the message type</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Request" type="RequestType"/>
      <xs:element name="Response" type="ResponseType"/>
      <xs:element name="Fault" type="FaultType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="MessageExchangePatternType">
    <xs:annotation>
      <xs:documentation>Container for the message identifiers. The element name itself will provide the name of the message type</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element ref="Synchronous"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element ref="Asynchronous"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:annotation>
      <xs:documentation>Request message type</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:annotation>
      <xs:documentation>Response message type.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="result" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Success"/>
          <xs:enumeration value="Failure"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FaultType">
    <xs:annotation>
      <xs:documentation>Fault response message type.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="CallbackURI" type="xs:string">
    <xs:annotation>
      <xs:documentation>The sequence number for the message within the conversation. The value of the Sequence Number should be unique within the channel for a conversation. A channel is defined by the Sender - Target pair that are participating in the channel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FaultURI" type="xs:string">
    <xs:annotation>
      <xs:documentation>The sequence number for the message within the conversation. The value of the Sequence Number should be unique within the channel for a conversation. A channel is defined by the Sender - Target pair that are participating in the channel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReplyToMessageID" type="xs:string">
    <xs:annotation>
      <xs:documentation>The reference to sequence number will be used for communicating credit contract responses and faults. When a credit contract response or fault is sent, this element will provide the SequenceNo element value for the message for which the credit contract response or fault is generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TimeToLive" type="xs:string">
    <xs:annotation>
      <xs:documentation>TimeToLive - The time period the message will persist before a fault is returned to the sending application.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExpectedResponseTime" type="xs:string">
    <xs:annotation>
      <xs:documentation>ExpectedResponseTime - The expected amount of time it will take for the asyncronous request to complete.  This should be less than the TimeToLive.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestID" type="xs:string">
    <xs:annotation>
      <xs:documentation>The reference to the asynchronous producers queued request id.  This value is utilized to reference the callback to the consumer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SynchronousType">
    <xs:annotation>
      <xs:documentation>Indicates a Syncronous service</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="ReplyRequiredIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>The indicator to determine if an asynchronous response is required.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AsynchronousType">
    <xs:annotation>
      <xs:documentation>Indicates an asyncronous service</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ReplyRequiredIndicator" minOccurs="0"/>
      <xs:element ref="ReplyToMessageID" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The ReplyToMessageID will be used when asynchronous responses or faults are sent, this element will provide the MessageID for the message for which the response or fault is generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="CallbackURI" minOccurs="0"/>
      <xs:element ref="FaultURI" minOccurs="0"/>
      <xs:element ref="TimeToLive" minOccurs="0"/>
      <xs:element ref="ExpectedResponseTime" minOccurs="0"/>
      <xs:element ref="RequestID" minOccurs="0"/>
      <xs:element name="RetryStrategy" type="RetryStrategyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional. Used for calls to VCS. If not set then the default retry strategy is used.
                                    This is not supported for CompositeServiceRequests
                                    (i.e. Multiple Nouns)  and will be ignored if 
                                    specified for a CSR.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassThroughData" type="KeyValuePairType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Map of  key-value pairs where maximum key length is 
                            20 characters and maximum value length is 18 characters.  
                            No restrictions on key or value content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingModes" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Valid Values: Default,Batch or IVVM.
                            If left blank then 'Default' is assumed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetryStrategyType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Any valid Retry Strategy name. See NamedRetryStrategy for more details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LongTermRetryIndicator" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional - defaults to false. 
                            This is ignored if the client does not specify any named retry strategy. 
                            Indicates whether to keep the request in the GVS error pool or not if all the short term retries are exhausted
                            and request execution is unsuccessful. If the request is kept in GVS error pool then ROBO can retry the request 
                            through GVS on a long term basis.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResponseRequiredOnErrorPoolMoveIndicator" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional  -- defaults to false.
                            This is ignored if the client does not specify any named retry strategy. 
                            Clients set this to true if intermediate responses are needed whenever moving request 
                            from Short term retry to Long term retry, false otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KeyValuePairType">
    <xs:sequence>
      <xs:element name="Key" type="xs:string">
        <xs:annotation>
          <xs:documentation>No restrictions on key or value content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Synchronous" type="SynchronousType">
    <xs:annotation>
      <xs:documentation>The reference to sequence number will be used for communicating credit contract responses and faults. When a credit contract response or fault is sent, this element will provide the SequenceNo element value for the message for which the credit contract response or fault is generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Asynchronous" type="AsynchronousType">
    <xs:annotation>
      <xs:documentation>The reference to sequence number will be used for communicating credit contract responses and faults. When a credit contract response or fault is sent, this element will provide the SequenceNo element value for the message for which the credit contract response or fault is generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>