ApiManagementSchemaImport/TestConsole/API-0164 WSDL/GetVehicleWearItemDataRS_Service_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Product" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tmforum.org/NGOSS/SID/Business/8.0/Product" xmlns:SIDBusCm="http://www.tmforum.org/NGOSS/SID/Business/8.0/Common" xmlns:SIDBusCu="http://www.tmforum.org/NGOSS/SID/Business/8.0/Customer" xmlns:SIDBusMa="http://www.tmforum.org/NGOSS/SID/Business/8.0/MarketSales" xmlns:SIDBusPr="http://www.tmforum.org/NGOSS/SID/Business/8.0/Product" xmlns:SIDBusRe="http://www.tmforum.org/NGOSS/SID/Business/8.0/Resource" xmlns:SIDBusSe="http://www.tmforum.org/NGOSS/SID/Business/8.0/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Resource" schemaLocation="GetVehicleWearItemDataRS_Service_10.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Customer" schemaLocation="GetVehicleWearItemDataRS_Service_8.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Service" schemaLocation="GetVehicleWearItemDataRS_Service_11.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/Common" schemaLocation="GetVehicleWearItemDataRS_Service_12.xsd"/>
  <xsd:import namespace="http://www.tmforum.org/NGOSS/SID/Business/8.0/MarketSales" schemaLocation="GetVehicleWearItemDataRS_Service_13.xsd"/>
  <xs:complexType name="ProductOfferingTerm">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AgreementTermOrCondition" type="SIDBusCm:AgreementTermOrCondition"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductOffering">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessInteractionItemPriceForProductOffering" type="SIDBusCm:BusinessInteractionItemPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyDemographic" type="SIDBusMa:PartyDemographic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyProfileType" type="SIDBusMa:PartyProfileType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyProfileTypeCharacteristic" type="SIDBusMa:PartyProfileTypeCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketStatistic" type="SIDBusMa:MarketStatistic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketSegmentCharacteristic" type="SIDBusMa:MarketSegmentCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CompetitorIntelligence" type="SIDBusMa:CompetitorIntelligence"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CompetitorProductCorrelationFor" type="SIDBusMa:CompetitorProductCorrelation"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdOfferPricePolicyVariable" type="SIDBusPr:ProdOfferPricePolicyVariable"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceLevelSpecification" type="SIDBusSe:ServiceLevelSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketSegment" type="SIDBusMa:MarketSegment"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingHas" type="SIDBusPr:ProductOffering"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingFor" type="SIDBusPr:ProductOffering"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PartyRole" type="SIDBusCm:PartyRole"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PolicySet" type="SIDBusCm:PolicySet"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DistributionChannel" type="SIDBusPr:DistributionChannel"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingStrategy" type="SIDBusPr:ProductOfferingStrategy"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingTerm" type="SIDBusPr:ProductOfferingTerm"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Place" type="SIDBusCm:Place"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
      <xs:element minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SalesChannel" type="SIDBusMa:SalesChannel"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketStrategy" type="SIDBusMa:MarketStrategy"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CompetitorProductCorrelationHas" type="SIDBusMa:CompetitorProductCorrelation"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdCatalogProdOffer" type="SIDBusPr:ProdCatalogProdOffer"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingRelationshipHas" type="SIDBusPr:ProductOfferingRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingRelationshipFor" type="SIDBusPr:ProductOfferingRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="BundledProdOfferOptionForProductOffering" type="SIDBusPr:BundledProdOfferOption"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="SIDBusPr:Product"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductPlacement">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Media" type="SIDBusMa:Media"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductPromotion">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Media" type="SIDBusMa:Media"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketingCampaign" type="SIDBusMa:MarketingCampaign"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Usage" type="SIDBusCm:Usage"/>
      <xs:element minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
      <xs:element minOccurs="0" name="CompositeProdPrice" type="SIDBusPr:CompositeProdPrice"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="PolicySet" type="SIDBusCm:PolicySet"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductPricePartyRole" type="SIDBusPr:ProductPricePartyRole"/>
      <xs:element minOccurs="0" name="Product" type="SIDBusPr:Product"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductOfferingPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharacteristicValue" type="SIDBusPr:ProductSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="GeographicArea" type="SIDBusCm:GeographicArea"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdOfferPricePolicyValue" type="SIDBusPr:ProdOfferPricePolicyValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductPrice" type="SIDBusPr:ProductPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CompositeProdOfferPrice" type="SIDBusPr:CompositeProdOfferPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PriceEvent" type="SIDBusPr:PriceEvent"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdOfferPricePolicyVariable" type="SIDBusPr:ProdOfferPricePolicyVariable"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdOfferPriceAction" type="SIDBusPr:ProdOfferPriceAction"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="productNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="brand" type="xs:string"/>
      <xs:element minOccurs="0" name="lifecycleStatus" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessInteractionItem" type="SIDBusCm:BusinessInteractionItem"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResourceSpec" type="SIDBusRe:PhysicalResourceSpec"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceLevelSpecification" type="SIDBusSe:ServiceLevelSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomerBillingProductChargeSumSpec" type="SIDBusCu:CustomerBillingProductChargeSumSpec"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecificationVersion" type="SIDBusPr:ProductSpecificationVersion"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomerFacingServiceSpec" type="SIDBusSe:CustomerFacingServiceSpec"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecification" type="SIDBusRe:ResourceSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="SIDBusPr:Product"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductUsageSpec" type="SIDBusPr:ProductUsageSpec"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecificationRelationshipHas" type="SIDBusPr:ProductSpecificationRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharUse" type="SIDBusPr:ProductSpecCharUse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecificationCost" type="SIDBusPr:ProductSpecificationCost"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CompositeProductSpecification" type="SIDBusPr:CompositeProductSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecificationType" type="SIDBusPr:ProductSpecificationType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecificationRelationshipFor" type="SIDBusPr:ProductSpecificationRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SimpleProductOffering" type="SIDBusPr:SimpleProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecificationVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="prodSpecRevisionType" type="xs:string"/>
      <xs:element minOccurs="0" name="prodSpecRevisionNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="prodSpecRevisionDate" type="xs:date"/>
      <xs:element minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="productStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="productSerialNumber" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="BusinessInteractionItem" type="SIDBusCm:BusinessInteractionItem"/>
      <xs:element minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomerBillingProductChargeSum" type="SIDBusCu:CustomerBillingProductChargeSum"/>
      <xs:element minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductPrice" type="SIDBusPr:ProductPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductHas" type="SIDBusPr:Product"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductFor" type="SIDBusPr:Product"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Resource" type="SIDBusRe:Resource"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomerFacingService" type="SIDBusSe:CustomerFacingService"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Place" type="SIDBusCm:Place"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductInvolvementRole" type="SIDBusPr:ProductInvolvementRole"/>
      <xs:element minOccurs="0" name="ProductBundle" type="SIDBusPr:ProductBundle"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCharacteristicValue" type="SIDBusPr:ProductCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductUsage" type="SIDBusPr:ProductUsage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInvolvementRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="productInvolvementRole" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="SIDBusPr:Product"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductBundle">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:Product">
        <xs:sequence>
          <xs:element minOccurs="0" name="BundledProductOffering" type="SIDBusPr:BundledProductOffering"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="SIDBusPr:Product"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductBundleUsage" type="SIDBusPr:ProductBundleUsage"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BundledProductOffering">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductOffering">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="BundledProdOfferOption" type="SIDBusPr:BundledProdOfferOption"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductBundle" type="SIDBusPr:ProductBundle"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BundledProdOfferOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="numberRelOfferLowerLimit" type="xs:int"/>
      <xs:element minOccurs="0" name="numberRelOfferUpperLimit" type="xs:int"/>
      <xs:element minOccurs="0" name="BundledProductOfferingForBundledProdOfferOption" type="SIDBusPr:BundledProductOffering"/>
      <xs:element minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductBundleUsage">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductUsage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductBundle" type="SIDBusPr:ProductBundle"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductUsage" type="SIDBusPr:ProductUsage"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductUsage">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:Usage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductBundleUsage" type="SIDBusPr:ProductBundleUsage"/>
          <xs:element minOccurs="0" name="AppliedCustomerBillingProductUsageRate" type="SIDBusCu:AppliedCustomerBillingProductUsageRate"/>
          <xs:element minOccurs="0" name="Product" type="SIDBusPr:Product"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerAccountProductInvolvement">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductInvolvementRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerAccount" type="SIDBusCu:CustomerAccount"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProdPriceAlteration">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ComponentProdPrice">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AppliedCustomerBillingProductAlteration" type="SIDBusCu:AppliedCustomerBillingProductAlteration"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdPriceCharge" type="SIDBusPr:ProdPriceCharge"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComponentProdPrice">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="priceType" type="xs:string"/>
          <xs:element minOccurs="0" name="unitofmeasure" type="SIDBusCm:Quantity"/>
          <xs:element minOccurs="0" name="price" type="SIDBusCm:Money"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProdPriceCharge">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ComponentProdPrice">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AppliedCustomerBillingProductCharge" type="SIDBusCu:AppliedCustomerBillingProductCharge"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdPriceAlteration" type="SIDBusPr:ProdPriceAlteration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceCharacteristicValue" type="SIDBusSe:ServiceCharacteristicValue"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristicValue" type="SIDBusPr:ProductSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceCharacteristicValue" type="SIDBusRe:ResourceCharacteristicValue"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristic" type="SIDBusPr:ProductSpecCharacteristic"/>
      <xs:element minOccurs="0" name="Product" type="SIDBusPr:Product"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecCharacteristic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="derivationFormula" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharacteristic" type="SIDBusRe:ResourceSpecCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceSpecCharacteristic" type="SIDBusSe:ServiceSpecCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharacteristicValue" type="SIDBusPr:ProductSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharRelationshipHas" type="SIDBusPr:ProductSpecCharRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharRelationshipFor" type="SIDBusPr:ProductSpecCharRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecCharUseForProductSpecCharacteristic" type="SIDBusPr:ProductSpecCharUse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCharacteristicValue" type="SIDBusPr:ProductCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="_default" type="xs:boolean"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="unitOfMeasure" type="xs:string"/>
      <xs:element minOccurs="0" name="valueFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="valueTo" type="xs:string"/>
      <xs:element minOccurs="0" name="rangeInterval" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceSpecCharacteristicValue" type="SIDBusRe:ResourceSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceSpecCharacteristicValue" type="SIDBusSe:ServiceSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCharacteristicValue" type="SIDBusPr:ProductCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdSpecCharValueRelationshipHas" type="SIDBusPr:ProdSpecCharValueRelationship"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristic" type="SIDBusPr:ProductSpecCharacteristic"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdSpecCharValueRelationshipFor" type="SIDBusPr:ProdSpecCharValueRelationship"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdSpecCharValueRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charValueRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristicValueFor" type="SIDBusPr:ProductSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristicValueHas" type="SIDBusPr:ProductSpecCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecCharRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="charSpecSeq" type="xs:int"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristicFor" type="SIDBusPr:ProductSpecCharacteristic"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristicHas" type="SIDBusPr:ProductSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecCharUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="_package" type="xs:boolean"/>
      <xs:element minOccurs="0" name="canBeOveridden" type="xs:boolean"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ProductSpecificationForProductSpecCharUse" type="SIDBusPr:ProductSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductSpecCharacteristic" type="SIDBusPr:ProductSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductUsageSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:UsageSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompositeProductUsageSpec" type="SIDBusPr:CompositeProductUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositeProductUsageSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductUsageSpec">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompositeProductSpecification" type="SIDBusPr:CompositeProductSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductUsageSpec" type="SIDBusPr:ProductUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositeProductSpecification">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductSpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompositeProductUsageSpec" type="SIDBusPr:CompositeProductUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductSpecificationRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductSpecificationFor" type="SIDBusPr:ProductSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductSpecificationHas" type="SIDBusPr:ProductSpecification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecificationCost">
    <xs:sequence>
      <xs:element minOccurs="0" name="costToBusiness" type="SIDBusCm:Money"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductSpecificationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductSpecification" type="SIDBusPr:ProductSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdOfferPricePolicyVariable" type="SIDBusPr:ProdOfferPricePolicyVariable"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdOfferPricePolicyVariable">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:PolicyVariable">
        <xs:sequence>
          <xs:element minOccurs="0" name="derivationAlgorithm" type="xs:string"/>
          <xs:element minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
          <xs:element minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
          <xs:element minOccurs="0" name="ProductSpecificationType" type="SIDBusPr:ProductSpecificationType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SimpleProductOffering">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductOffering">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductComponent" type="SIDBusPr:ProductComponent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductComponent">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:Product">
        <xs:sequence>
          <xs:element minOccurs="0" name="SimpleProductOffering" type="SIDBusPr:SimpleProductOffering"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductComponentUsage" type="SIDBusPr:ProductComponentUsage"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductComponentUsage">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductUsage">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceUsage" type="SIDBusRe:ResourceUsage"/>
          <xs:element minOccurs="0" name="ProductComponent" type="SIDBusPr:ProductComponent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProdOfferPricePolicyValue">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:PolicyValue">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositeProdOfferPrice">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductOfferingPrice">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PriceEvent">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdOfferPriceAction">
    <xs:complexContent>
      <xs:extension base="SIDBusCm:PolicyActionAtomic">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOfferingPrice" type="SIDBusPr:ProductOfferingPrice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositeProdPrice">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductPrice">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductPrice" type="SIDBusPr:ProductPrice"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductPricePartyRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicySet" type="SIDBusCm:PolicySet"/>
      <xs:element minOccurs="0" name="PartyRole" type="SIDBusCm:PartyRole"/>
      <xs:element minOccurs="0" name="ProductPrice" type="SIDBusPr:ProductPrice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AtomicProductUsageSpec">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductUsageSpec">
        <xs:sequence>
          <xs:element minOccurs="0" name="AtomicProductSpecification" type="SIDBusPr:AtomicProductSpecification"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceUsageSpec" type="SIDBusRe:ResourceUsageSpec"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceUsageSpec" type="SIDBusSe:ServiceUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AtomicProductSpecification">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductSpecification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AtomicProductUsageSpec" type="SIDBusPr:AtomicProductUsageSpec"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductCatalogSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SalesChannel" type="SIDBusMa:SalesChannel"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketingCampaign" type="SIDBusMa:MarketingCampaign"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="GeographicArea" type="SIDBusCm:GeographicArea"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogSpecCharUse" type="SIDBusPr:ProductCatalogSpecCharUse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalog" type="SIDBusPr:ProductCatalog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCatalogSpecCharUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="_package" type="xs:boolean"/>
      <xs:element minOccurs="0" name="canBeOveridden" type="xs:boolean"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecificationForProductCatalogSpecCharUse" type="SIDBusPr:ProductCatalogSpecification"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristic" type="SIDBusPr:ProductCatalogSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCatalogSpecCharacteristic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="unique" type="xs:string"/>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="minCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="maxCardinality" type="xs:int"/>
      <xs:element minOccurs="0" name="extensible" type="xs:boolean"/>
      <xs:element minOccurs="0" name="derivationFormula" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogCharacteristicValue" type="SIDBusPr:ProductCatalogCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogSpecCharacteristicValue" type="SIDBusPr:ProductCatalogSpecCharacteristicValue"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdCatSpecRelationshipHas" type="SIDBusPr:ProdCatSpecRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogSpecCharUseForProductCatalogSpecCharacteristic" type="SIDBusPr:ProductCatalogSpecCharUse"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdCatSpecRelationshipFor" type="SIDBusPr:ProdCatSpecRelationship"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCatalogCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalog" type="SIDBusPr:ProductCatalog"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristicValue" type="SIDBusPr:ProductCatalogSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristic" type="SIDBusPr:ProductCatalogSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogCharacteristicValue" type="SIDBusPr:ProductCatalogCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecification" type="SIDBusPr:ProductCatalogSpecification"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdCatalogProdOfferForProductCatalog" type="SIDBusPr:ProdCatalogProdOffer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdCatalogProdOffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalog" type="SIDBusPr:ProductCatalog"/>
      <xs:element minOccurs="0" name="ProductOfferingForProdCatalogProdOffer" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductCatalogSpecCharacteristicValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="valueType" type="xs:string"/>
      <xs:element minOccurs="0" name="_default" type="xs:boolean"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="unitOfMeasure" type="xs:string"/>
      <xs:element minOccurs="0" name="valueFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="valueTo" type="xs:string"/>
      <xs:element minOccurs="0" name="rangeInterval" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductCatalogCharacteristicValue" type="SIDBusPr:ProductCatalogCharacteristicValue"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristic" type="SIDBusPr:ProductCatalogSpecCharacteristic"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdSpecCatSpecCharValueRelationshipHas" type="SIDBusPr:ProdSpecCatSpecCharValueRelationship"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProdSpecCatSpecCharValueRelationshipFor" type="SIDBusPr:ProdSpecCatSpecCharValueRelationship"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdSpecCatSpecCharValueRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charValueRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristicValueFor" type="SIDBusPr:ProductCatalogSpecCharacteristicValue"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristicValueHas" type="SIDBusPr:ProductCatalogSpecCharacteristicValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProdCatSpecRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="charRelationshipType" type="xs:string"/>
      <xs:element minOccurs="0" name="charSpecSeq" type="xs:int"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristicFor" type="SIDBusPr:ProductCatalogSpecCharacteristic"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductCatalogSpecCharacteristicHas" type="SIDBusPr:ProductCatalogSpecCharacteristic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DistChannelProdOffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistributionChannelForDistChannelProdOffer" type="SIDBusPr:DistributionChannel"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="GeographicArea" type="SIDBusCm:GeographicArea"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DistributionChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DistChannelProdOffer" type="SIDBusPr:DistChannelProdOffer"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductOfferingStrategy">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarketingCampaign" type="SIDBusMa:MarketingCampaign"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductOffering" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductLine">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductSpecificationType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CompetitiveTier" type="SIDBusMa:CompetitiveTier"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductOfferingRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="typeRelationship" type="xs:string"/>
      <xs:element minOccurs="0" name="ProductOfferingFor" type="SIDBusPr:ProductOffering"/>
      <xs:element minOccurs="0" name="validFor" type="SIDBusCm:TimePeriod"/>
      <xs:element minOccurs="0" name="ProductOfferingHas" type="SIDBusPr:ProductOffering"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyRoleProductInvolvement">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductInvolvementRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartyRole" type="SIDBusCm:PartyRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceRoleProductInvolvement">
    <xs:complexContent>
      <xs:extension base="SIDBusPr:ProductInvolvementRole">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceRole" type="SIDBusRe:ResourceRole"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xsd:schema>