ApiManagementSchemaImport/Microsoft.Azure.ApiManagement.XmlSchemaProcessor.TestConsole/GetProvideShipments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:com:gm:gpsc:service:schema:ProvideShipments:1" version="1.0"
  xmlns="urn:com:gm:gpsc:service:schema:ProvideShipments:1"
  xmlns:oagis="http://www.openapplications.org/oagis/9"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="GetProvideShipments_1_2_3_4_5_6_7_8_9.xsd"/>
  <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="GetProvideShipments_1.xsd"/>
  <xsd:element name="GetProvideShipments" type="GetProvideShipmentsType">
    <xsd:annotation>
      <xsd:documentation>This is the BOD for GetProvideShipments</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GetProvideShipmentsType">
    <xsd:complexContent>
      <xsd:extension base="oagis:BusinessObjectDocumentType">
        <xsd:sequence>
          <xsd:element name="DataArea" type="GetProvideShipmentsDataAreaType">
            <xsd:annotation>
              <xsd:documentation>Is where the information that the BOD message carries is provided.
								The information consists of a Verb and one or more Nouns. The
								verb indicates the action to be performed on the Noun.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetProvideShipmentsDataAreaType">
    <xsd:sequence>
      <xsd:element ref="oagis:Get"/>
      <xsd:element ref="ProvideShipmentsRequest"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>