ApiManagementSchemaImport/TestConsole/gen/general/x2008/GEN_Periode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gen2008="dk/pfa/si/schemas/common/2008/02/01" xmlns:ai2008="dk/pfa/si/schemas/appinfo/2008/02/01" targetNamespace="dk/pfa/si/schemas/common/2008/02/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">


  <element name="Periode" type="gen2008:PeriodeType">
		<annotation>
			<documentation>Periode paa dags niveau. Begge dage er inkluderet i perioden. Til skal vaere lig med eller efter Fra</documentation>
      <appinfo><ai2008:Validering>Til dato efter eller identisk med Fra dato</ai2008:Validering></appinfo>
    </annotation>
	</element>
	<complexType name="PeriodeType">
    <sequence>
      <element name="Fra" type="date"></element>
      <element name="Til" type="date"></element>
		</sequence>
	</complexType>
</schema>