ApiManagementSchemaImport/TestConsole/gen/deprecated/x2006/GEN_DeprecatedCompanyNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gen="dk/pfa/si/schemas/common/2006/02/01" targetNamespace="dk/pfa/si/schemas/common/2006/02/01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="DeprecatedCompanyNumber" type="gen:DeprecatedCompanyNumberType">
		<annotation>
			<documentation>This element is based on the datatype to be used for depricated internal PFA company numbers.</documentation>
		</annotation>
	</element>
	<complexType name="DeprecatedCompanyNumberType">
		<sequence>
			<element name="nbr1_5">
				<annotation>
					<documentation>Deprecated: Number representing a company</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="99999"/>
					</restriction>
				</simpleType>
			</element>
			<element name="nbr6_7" minOccurs="0">
				<annotation>
					<documentation>Dprecated: Number designating a subsidiary or who to bill</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="99"/>
					</restriction>
				</simpleType>
			</element>
			<element name="nbr8_9" minOccurs="0">
				<annotation>
					<documentation>Deprecated: Partial scheme number for the company</documentation>
				</annotation>
				<simpleType>
					<restriction base="integer">
						<minInclusive value="0"/>
						<maxInclusive value="99"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
</schema>