ApiManagementSchemaImport/Microsoft.Azure.ApiManagement.XmlSchemaProcessor.TestConsole/newdirectory/GetProvideShipments-1-2-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="/schemas//schemas/GetProvideShipments-1-2-3-4" namespace="http://www.openapplications.org/oagis/9/codelists" />
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000001</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Amount. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Amount</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="currencyID" type="oacl:CurrencyCodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000001-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Amount Currency. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The currency of the amount.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Amount Currency</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryObjectType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A set of finite-length sequences of binary octets.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Format. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The format of the binary content.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Format</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeCode" type="oacl:MIMECodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Mime. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The mime type of the binary object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Mime</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encodingCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Encoding. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Specifies the decoding algorithm of the binary object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Encoding</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="characterSetCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC5</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Character Set. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The character set of the binary object if the mime type is text.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Character Set</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the binary object is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000002-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object. Filename.Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The filename of the binary object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Binary Object</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Filename</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GraphicType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Format. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The format of the graphic content.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Format</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeCode" type="oacl:MIMECodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Mime. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The mime type of the graphic object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Mime</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encodingCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Encoding. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Specifies the decoding algorithm of the graphic object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Encoding</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the graphic object is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000003-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic. Filename.Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The filename of the graphic object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Filename</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PictureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Format. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The format of the picture content.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Format</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeCode" type="oacl:MIMECodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Mime. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The mime type of the picture object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Mime</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encodingCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Encoding. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Specifies the decoding algorithm of the picture object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Encoding</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the picture object is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000004-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture. Filename.Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The filename of the picture object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Picture</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Filename</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SoundType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Format. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The format of the sound content.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Format</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeCode" type="oacl:MIMECodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Mime. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The mime type of the sound object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Mime</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encodingCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Encoding. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Specifies the decoding algorithm of the sound object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Encoding</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the sound object is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000005-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound. Filename.Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The filename of the sound object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Sound</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Filename</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VideoType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A diagram, graph, mathematical curves, or similar representation.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Graphic</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">binary</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="format" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Format. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The format of the video content.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Format</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeCode" type="oacl:MIMECodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Mime. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The mime type of the video object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Mime</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encodingCode" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Encoding. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Specifies the decoding algorithm of the video object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Encoding</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the video object is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="filename" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000006-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video. Filename.Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The filename of the video object.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Video</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Filename</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the code list and thus, are not declared as attributes.</ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="udt:string">
        <xsd:attribute name="listID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Agency. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">An agency that maintains one or more lists of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Defaults to the UN/EDIFACT data element 3055 code list.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Agency Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the agency that maintains the list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC5</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The textual equivalent of the code content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC8</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the code name.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC9</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the code list is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC10</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List Scheme. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the code list scheme is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000008</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Can be used for a date and/or time.</ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="DateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000009</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">One calendar day according the Gregorian calendar.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="TimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000010</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The instance of time that occurs every day.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time" />
  </xsd:simpleType>
  <xsd:complexType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the identifer list and thus, are not declared as attributes.</ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="udt:string">
        <xsd:attribute name="schemeID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeName" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of the agency that maintains the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Defaults to the UN/EDIFACT data element 3055 code list.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyName" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC5</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the agency that maintains the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeVersionID" type="udt:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Version. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The version of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Version</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Data. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the identification scheme data is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Data</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011-SC8</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the identification scheme is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000012</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Indicator. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A list of two mutually exclusive Boolean values that express the only possible states of a property.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Indicator</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="false" />
      <xsd:pattern value="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000013</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure</ccts:RepresentationTermName>
        <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Type</ccts:PropertyTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="oacl:UnitCodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000013-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure Unit. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The type of unit of measure.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure Unit</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Reference UN/ECE Rec 20 and X12 355.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="NumericType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000014</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:simpleType name="ValueType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000015</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Value. Type</ccts:DictionaryEntryName>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Value</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:simpleType name="PercentType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000016</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Percent. Type</ccts:DictionaryEntryName>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Percent</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:simpleType name="RateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000017</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Rate. Type</ccts:DictionaryEntryName>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Rate</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000018</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Quantity. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A counted number of non-monetary units possibly including fractions.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Quantity</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="oacl:UnitCodeContentType" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000018-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Quantity. Unit. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The unit of the quantity</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Quantity</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Unit Code</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000019</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="udt:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000019-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000020</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string that consititues the distinctive designation of a person, place, thing or concept.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="udt:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000020-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="string">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>